@import url("https://fonts.googleapis.com/css?family=Source+Code+Pro");
.footer {
  background-color: #433E3D;
  width: 100%;
  height: 250px;
  position: relative;
}

.footer .container {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.footer .row:first-child .col-4 {
  text-align: center;
}

.footer .col-4 {
  color: white;
}

.footer .col-4 h4 {
  font-size: 3rem;
}

.footer .col-4 .footer-span {
  font-size: 1.5rem;
}

.footer .gate {
  display: inline-block;
  width: 215px;
  padding: 10px 0 10px 15px;
  font-family: "Open Sans", sans;
  font-weight: 400;
  font-size: 1.5rem;
  color: #f16121;
  background: #efefef;
  border: 0;
  border-radius: 3px;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  outline: 0;
  text-indent: 65px;
  -webkit-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
}

.footer .gate::-webkit-input-placeholder {
  color: #efefef;
  text-indent: 0;
  font-weight: 300;
}

.footer .gate + label {
  display: inline-block;
  position: absolute;
  top: 0;
  left: 15px;
  padding: 13.6px 15px;
  text-shadow: 0 1px 0 rgba(19, 74, 70, 0.4);
  background-color: #333 !important;
  -webkit-transition: all .4s ease-in-out;
  transition: all .4s ease-in-out;
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
  -webkit-transform-origin: left bottom;
          transform-origin: left bottom;
  z-index: 99;
}

.footer .gate + label:before, .footer .gate + label:after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: 3px;
  background: #333;
  -webkit-transform-origin: left bottom;
          transform-origin: left bottom;
  -webkit-transition: all .4s ease-in-out;
  transition: all .4s ease-in-out;
  pointer-events: none;
  z-index: -1;
}

.footer .gate + label:before {
  background: #333;
  z-index: -1;
  right: 20%;
}

.footer span .gate {
  text-indent: 5px;
}

.footer span .gate:focus,
.footer span .gate:active {
  text-indent: 0;
}

.footer .gate:focus,
.footer .gate:active {
  text-indent: 0px;
  background: #fff;
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
}

.footer .gate:focus::-webkit-input-placeholder,
.footer .gate:active::-webkit-input-placeholder {
  color: #aaa;
}

.footer .gate:focus + label,
.footer .gate:active + label {
  -webkit-transform: rotate(-66deg);
          transform: rotate(-66deg);
  border-radius: 3px;
}

.footer .gate:focus + label:before,
.footer .gate:active + label:before {
  -webkit-transform: rotate(10deg);
          transform: rotate(10deg);
}

.footer .sub-button {
  position: relative;
  bottom: 1px;
  right: 2.5px;
  color: #fff;
  background-color: #333;
  padding: 14px 15px;
  border: none;
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
}

.footer .social ul {
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.footer .social ul li {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.footer .social ul li a {
  position: relative;
  display: block;
  width: 60px;
  height: 60px;
  text-align: center;
  line-height: 63px;
  background: #333;
  border-radius: 50%;
  font-size: 30px;
  color: #666;
  -webkit-transition: .5s;
  transition: .5s;
}

.footer .social ul li a::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background: #f16121;
  -webkit-transition: .5s;
  transition: .5s;
  -webkit-transform: scale(0.9);
          transform: scale(0.9);
  z-index: -1;
}

.footer .social ul li a:hover::before {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  color: red;
  -webkit-box-shadow: 0 0 15px #f16121;
          box-shadow: 0 0 15px #f16121;
}

.footer .social ul li a:hover {
  color: #ffee10;
  -webkit-box-shadow: 0 0 5px #f16121;
          box-shadow: 0 0 5px #f16121;
  text-shadow: 0 0 5px #f16121;
}

.footer .phone-number {
  text-align: center;
}

.footer .phone-number-link {
  font-size: 3rem;
  border-radius: 5px;
  background-color: #333;
}

.footer .phone-number-link::before {
  content: 'salam';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 5px;
  background: #f16121;
  -webkit-transition: .5s;
  transition: .5s;
  -webkit-transform: scale(0.9);
          transform: scale(0.9);
  z-index: -1;
}

.footer .phone-number-link:hover::before {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  color: red;
}

.footer .phone-number-link:hover {
  color: #ffee10;
  -webkit-box-shadow: 0 0 5px #f16121;
          box-shadow: 0 0 5px #f16121;
  text-shadow: 0 0 5px #f16121;
}

.footer .copyright {
  color: white;
  text-align: center;
  font-size: 3rem;
}

body {
  margin: 0;
}

* {
  -webkit-box-sizing: border-box !important;
          box-sizing: border-box !important;
}

.register {
  background-color: #f16121;
  height: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.register .buttons {
  width: 300px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.register .buttons a {
  font-size: 2rem;
  color: white;
  border: 1px solid white;
  padding: 5px;
  border-radius: 10px;
  -webkit-transition: all 0.2s linear;
  transition: all 0.2s linear;
}

.register .buttons a:hover {
  border: none;
  border-bottom: 1px solid white;
}

.top {
  width: 100%;
  height: 130px;
}

.brand-logo {
  width: 300px;
  -o-object-fit: cover;
     object-fit: cover;
}

.top-item:nth-child(2) {
  /* Animation */
  /* text animation */
  /* cursor animations */
}

.top-item:nth-child(2) span {
  display: inline-block;
  white-space: nowrap;
  overflow: hidden;
  font-family: 'Artful Beauty', monospace;
  font-size: 5rem;
  color: black;
  margin: 0 auto;
}

.top-item:nth-child(2) span {
  -webkit-animation: animated-text 2s steps(29, end) 2s 1 normal both;
          animation: animated-text 2s steps(29, end) 2s 1 normal both;
}

@-webkit-keyframes animated-text {
  from {
    width: 0;
  }
  to {
    width: 400px;
  }
}

@keyframes animated-text {
  from {
    width: 0;
  }
  to {
    width: 400px;
  }
}

#social-media {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 200px;
}

#social-media a {
  width: 40px;
}

#social-media a i {
  font-size: 2.7rem;
  background-color: #f16121;
  border-radius: 10px;
  color: white;
  padding: 12px;
  -webkit-transition: all 0.3s linear;
  transition: all 0.3s linear;
}

#social-media a i:hover {
  color: #f16121;
  background-color: transparent;
  -webkit-transform: scale(1.5);
          transform: scale(1.5);
}

.active {
  border: 1px solid white;
  border-radius: 10px;
  color: #000 !important;
  border-top: none;
  border-bottom: none;
}

.nav {
  width: 1000px;
  margin: 10px auto -30px;
  background-color: #f16121;
  border: 1px solid #F16121;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 50px;
  padding: 15px;
  position: -webkit-sticky;
  position: sticky;
  top: 0px;
  z-index: 100;
}

.nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
}

.nav ul li {
  display: inline-block;
  -webkit-transition: all 0.2s linear;
  transition: all 0.2s linear;
}

.nav ul li:hover {
  -webkit-transform: rotate(2deg);
          transform: rotate(2deg);
}

.nav ul li a {
  padding: 5px;
  color: white;
  text-decoration: none;
  font-family: "Comfortaa";
  font-size: 20px;
  -webkit-transition: all 0.2s linear;
  transition: all 0.2s linear;
}

.nav ul li a:hover {
  border: 1px solid white;
  border-radius: 10px;
  color: #000 !important;
  border-top: none;
  border-bottom: none;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 5px grey;
          box-shadow: inset 0 0 5px grey;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background: gray;
  border-radius: 10px;
}

::-moz-selection {
  color: white;
  background-color: #f16121;
}

::selection {
  color: white;
  background-color: #f16121;
}

html {
  font-size: 10px;
}

.review {
  background-color: white;
  font-family: 'Open Sans', sans-serif;
  position: relative;
  width: 100%;
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
}

.review-header {
  color: #f16121;
  text-align: center;
  font-size: 3rem !important;
  font-family: "Comfortaa";
}

.review .container {
  position: absolute;
  height: 300px;
  width: 100%;
  top: 60px;
  left: calc(30% - 300px);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.review .card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 280px;
  width: 400px;
  background-color: #f16121;
  border-radius: 10px;
  -webkit-box-shadow: -1rem 0 3rem #000;
          box-shadow: -1rem 0 3rem #000;
  /*   margin-left: -50px; */
  -webkit-transition: 0.4s ease-out;
  transition: 0.4s ease-out;
  position: relative;
  left: 0px;
}

.review .card:not(:first-child) {
  margin-left: -50px;
}

.review .card:hover {
  -webkit-transform: translateY(-20px);
          transform: translateY(-20px);
  -webkit-transition: 0.4s ease-out;
  transition: 0.4s ease-out;
}

.review .card:hover ~ .card {
  position: relative;
  left: 50px;
  -webkit-transition: 0.4s ease-out;
  transition: 0.4s ease-out;
}

.review .title {
  color: white;
  font-weight: 300;
  position: absolute;
  left: 20px;
  top: 15px;
}

.review .user {
  width: 60%;
  font-size: 2rem;
  position: absolute;
  top: 55px;
  left: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.review .user-icon {
  color: white;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  font-size: 3rem;
}

.review .user-name {
  color: white;
}

.review .bar {
  position: absolute;
  top: 100px;
  left: 20px;
  height: 5px;
  width: 90%;
}

.review .bar hr {
  background-color: gray;
}

.review .content-review {
  position: absolute;
  left: 20px;
  top: 40%;
  background-color: transparent;
  width: 90%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border: none;
}

.review .content-review i {
  color: white;
  font-size: 3rem;
}

.review .content-review p {
  font-size: 2rem;
  color: white;
  margin-left: 5px;
}

.review .card-footer {
  width: 90%;
  position: absolute;
  bottom: 10px;
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background-color: transparent;
  font-size: 1.5rem;
}

.review .card-footer .read-more a {
  text-decoration: none;
  color: white;
  opacity: 0;
  -webkit-animation: border-progress;
          animation: border-progress;
}

.review .card:hover a {
  opacity: 1;
  text-decoration: underline;
}
/*# sourceMappingURL=style.css.map */