@import 'variables';
.footer {
    background-color: $footer-bg;
    width: 100%;
    height: 250px;
    margin: 0;
    margin-top: 2px;
    
    position: relative;

    .container {
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
    }
    .row:first-child .col-4{
        text-align: center;
    }

    .col-4 {
        color: white;

        h4 {
            font-size: 3rem;

        }

        .footer-span {
            font-size: 1.5rem;
        }
    }

    .gate { 
        
        display: inline-block;
        width: 215px;
        padding: 10px 0 10px 15px;
        font-family: "Open Sans", sans;
        font-weight: 400;
        font-size: 1.5rem;
        color: $orange;
        background: #efefef;
        border: 0;
        border-radius: 3px;
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
        outline: 0;
        text-indent: 65px; // Arbitrary.
        transition: all .3s ease-in-out;



        &::-webkit-input-placeholder {
            color: #efefef;
            text-indent: 0;
            font-weight: 300;
        }

        + label {
            display: inline-block;
            position: absolute;
            top: 0;
            left: 15px;
            padding: 13.6px 15px;
            text-shadow: 0 1px 0 rgba(19, 74, 70, .4);
            background-color: #333 !important;
            transition: all .4s ease-in-out;
            border-top-left-radius: 3px;
            border-bottom-left-radius: 3px;
            transform-origin: left bottom;
            z-index: 99;
            font-size: 1.2rem;

            &:before,
            &:after {
                content: "";
                position: absolute;
                top: 0;
                right: 0;
                bottom: 0;
                left: 0;
                border-radius: 3px;
                background: #333;
                transform-origin: left bottom;
                transition: all .4s ease-in-out;
                pointer-events: none;
                z-index: -1;
            }

            &:before {
                background: #333;
                z-index: -1;
                right: 20%;
            }
        }
    }

    span .gate {
        text-indent: 5px;
    }

    span .gate:focus,
    span .gate:active {
        text-indent: 0;
    }

    .gate:focus,
    .gate:active {

        text-indent: 0px;
        background: #fff;
        border-top-right-radius: 3px;
        border-bottom-right-radius: 3px;

        &::-webkit-input-placeholder {
            color: #aaa;
        }

        + label {
            transform: rotate(-66deg);
            border-radius: 3px;

            &:before {
                transform: rotate(10deg);
            }
        }
    }

    .sub-button {
        position: relative;
        bottom: 1px;
        right: 2.5px;
        color: #fff;
        background-color: #333;
        font-size: 1.3rem;
        padding: 14px 15px;
        border: none;
        border-top-right-radius: 3px;
        border-bottom-right-radius: 3px;

    }

    .social {


        ul {
            padding: 0;
            display: flex;
            justify-content: space-around;
        }

        ul li {
            list-style: none;
            display: flex;
        }

        ul li a {
            position: relative;
            display: block;
            width: 60px;
            height: 60px;
            text-align: center;
            line-height: 63px;
            background: #333;
            border-radius: 50%;
            font-size: 30px;
            color: #666;
            transition: .5s;
        }

        ul li a::before {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            border-radius: 50%;
            background: $orange;
            transition: .5s;
            transform: scale(.9);
            z-index: -1;
        }

        ul li a:hover::before {
            transform: scale(1.1);
            color: red;
            box-shadow: 0 0 15px $orange;
        }

        ul li a:hover {
            color: #ffee10;
            box-shadow: 0 0 5px $orange;
            text-shadow: 0 0 5px $orange;
        }
    }

    .phone-number {
       
       text-align: center;

        &-link {
            font-size: 3rem;
            border-radius: 5px;
            background-color:  #333;
            &::before {
                content: 'salam';
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                border-radius: 5px;
                background: $orange;
                transition: .5s;
                transform: scale(.9);
                z-index: -1;
            }
            &:hover::before{
                transform: scale(1.1);
            color: red;
            }
            &:hover{
                 color: #ffee10;
            box-shadow: 0 0 5px $orange;
            text-shadow: 0 0 5px $orange;
            }

        }

    }
    .copyright{
        color: white;
        text-align: center;
        font-size: 3rem;
    }
}