{% extends "base.html" %}
{% block title %}
<title>Bütün fikirlər</title>
{% endblock %}
{% block activeThird %}
active
{% endblock %}
{% block page %}
<div class="container">
  {% if feedbacks %}
  {% for feedback in feedbacks %}
  <div class="row my-5" >
    <div class="col-6 offset-3" >
        <ul class="list-group">
            <li class="list-group-item d-flex justify-content-end">
                <a href="/update/{{feedback.id}}" title="Dəyişdir"><i class="bi bi-pencil-square"></i></a>
                <a href="/delete/{{feedback.id}}" title="Sil"><i class="bi bi-trash"></i></a>
            </li>
            <li class="list-group-item">Bal : 
              {% if feedback.rating_star %}
              {% for star in range(1,feedback.rating_star+1) %}
              🔹
              {% endfor %}
              {% endif %}
             
              
            </li>
            <li class="list-group-item">ID : {{feedback.id}}</li>
            <li class="list-group-item">Ad : {{feedback.fullname}}</li>
            <li class="list-group-item">Mail : {{feedback.email}}</li>
            <li class="list-group-item">Restoran : 
              {% if feedback.restaurant_id  %}
                {% for restaurant in restaurants %}
               
               {% if feedback.restaurant_id==restaurant.id %}
               {{restaurant.name}}
               {% endif %} 
                {% endfor %}
              
              {% else %}
              Restoran adı yoxdur
              {% endif %} </li>
            <li class="list-group-item">Fikir : {{feedback.feedback_content}}</li>
          </ul>
    </div>
</div>
  {% endfor %}
 

  
  
  
</div>
{% else %}
<h1>Burda hər hansı fikir yoxdur.İlk yazan olmaq istəyirsiniz?<a href="/new">Fikir Bildir</a></h1>
  {% endif %}
{% endblock %}