{% extends "base.html" %}
{% block title %}
<title>Yeni fikir əlavə et</title>
{% endblock %}
{% block activeSecond %}
active
{% endblock %}
{% block page %}
<div class="container">
  <form action="/new" method = "POST">
      
      <div class="mb-3">
      <input type="text" name="fullname" class="form-control"  placeholder="Ad və soyadınızı daxil edin">
      </div>
      
      <div class="mb-3">
        
          <input type="email" class="form-control" name="mail"  placeholder="Mail adresinizi daxil edin">
      </div>
      <div class="mb-3">
        
          <input type="text" class="form-control" name="restaurant_name"  placeholder="Hansı restoran barədə fikir bildirmək istəyirsiniz?" >
      </div>
      <div class="form-group mb-3">
        
          <textarea name="content" class="form-control" placeholder="Fikrinizi yazın" cols="30" rows="10"></textarea>    
      </div>
      <div class="mb-3">
      <button type="submit" class="btn btn-primary">Bildirin</button>
      </div>
    </form>
</div>
{% endblock %}