@import url("https://fonts.googleapis.com/css?family=Source+Code+Pro");
@import url("https://fonts.googleapis.com/css?family=Roboto:100,300,400&display=swap");
::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background: gray;
  border-radius: 10px;
}

::selection {
  color: white;
  background-color: #f16121;
}

.footer {
  background-color: #433E3D;
  width: 100%;
  height: 250px;
  position: relative;
}

.footer .container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.footer .row:first-child .col-4 {
  text-align: center;
}

.footer .col-4 {
  color: white;
}

.footer .col-4 h4 {
  font-size: 3rem;
}

.footer .col-4 .footer-span {
  font-size: 1.5rem;
}

.footer .gate {
  display: inline-block;
  width: 215px;
  padding: 10px 0 10px 15px;
  font-family: "Open Sans", sans;
  font-weight: 400;
  font-size: 1.5rem;
  color: #f16121;
  background: #efefef;
  border: 0;
  border-radius: 3px;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  outline: 0;
  text-indent: 65px;
  transition: all .3s ease-in-out;
}

.footer .gate::-webkit-input-placeholder {
  color: #efefef;
  text-indent: 0;
  font-weight: 300;
}

.footer .gate + label {
  display: inline-block;
  position: absolute;
  top: 0;
  left: 15px;
  padding: 13.6px 15px;
  text-shadow: 0 1px 0 rgba(19, 74, 70, 0.4);
  background-color: #333 !important;
  transition: all .4s ease-in-out;
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
  transform-origin: left bottom;
  z-index: 99;
}

.footer .gate + label:before, .footer .gate + label:after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: 3px;
  background: #333;
  transform-origin: left bottom;
  transition: all .4s ease-in-out;
  pointer-events: none;
  z-index: -1;
}

.footer .gate + label:before {
  background: #333;
  z-index: -1;
  right: 20%;
}

.footer span .gate {
  text-indent: 5px;
}

.footer span .gate:focus,
.footer span .gate:active {
  text-indent: 0;
}

.footer .gate:focus,
.footer .gate:active {
  text-indent: 0px;
  background: #fff;
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
}

.footer .gate:focus::-webkit-input-placeholder,
.footer .gate:active::-webkit-input-placeholder {
  color: #aaa;
}

.footer .gate:focus + label,
.footer .gate:active + label {
  transform: rotate(-66deg);
  border-radius: 3px;
}

.footer .gate:focus + label:before,
.footer .gate:active + label:before {
  transform: rotate(10deg);
}

.footer .sub-button {
  position: relative;
  bottom: 1px;
  right: 2.5px;
  color: #fff;
  background-color: #333;
  padding: 14px 15px;
  border: none;
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
}

.footer .social ul {
  padding: 0;
  display: flex;
  justify-content: space-around;
}

.footer .social ul li {
  list-style: none;
  display: flex;
}

.footer .social ul li a {
  position: relative;
  display: block;
  width: 60px;
  height: 60px;
  text-align: center;
  line-height: 63px;
  background: #333;
  border-radius: 50%;
  font-size: 30px;
  color: #666;
  transition: .5s;
}

.footer .social ul li a::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background: #f16121;
  transition: .5s;
  transform: scale(0.9);
  z-index: -1;
}

.footer .social ul li a:hover::before {
  transform: scale(1.1);
  color: red;
  box-shadow: 0 0 15px #f16121;
}

.footer .social ul li a:hover {
  color: #ffee10;
  box-shadow: 0 0 5px #f16121;
  text-shadow: 0 0 5px #f16121;
}

.footer .phone-number {
  text-align: center;
}

.footer .phone-number-link {
  font-size: 3rem;
  border-radius: 5px;
  background-color: #333;
}

.footer .phone-number-link::before {
  content: 'salam';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 5px;
  background: #f16121;
  transition: .5s;
  transform: scale(0.9);
  z-index: -1;
}

.footer .phone-number-link:hover::before {
  transform: scale(1.1);
  color: red;
}

.footer .phone-number-link:hover {
  color: #ffee10;
  box-shadow: 0 0 5px #f16121;
  text-shadow: 0 0 5px #f16121;
}

.footer .copyright {
  color: white;
  text-align: center;
  font-size: 3rem;
}

body {
  margin: 0;
}

* {
  box-sizing: border-box !important;
}

.register {
  background-color: #f16121;
  height: 50px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.register .buttons {
  width: 300px;
  display: flex;
  justify-content: space-around;
}

.register .buttons a {
  font-size: 2rem;
  color: white;
  border: 1px solid white;
  padding: 5px;
  border-radius: 10px;
  transition: all 0.2s linear;
}

.register .buttons a:hover {
  border: none;
  border-bottom: 1px solid white;
}

.top {
  width: 100%;
  height: 130px;
}

.brand-logo {
  width: 300px;
  object-fit: cover;
}

.top-item:nth-child(2) {
  /* Animation */
  /* text animation */
  /* cursor animations */
}

.top-item:nth-child(2) span {
  display: inline-block;
  white-space: nowrap;
  overflow: hidden;
  font-family: 'Artful Beauty', monospace;
  font-size: 5rem;
  color: black;
  margin: 0 auto;
}

.top-item:nth-child(2) span {
  animation: animated-text 2s steps(29, end) 2s 1 normal both;
}

@keyframes animated-text {
  from {
    width: 0;
  }
  to {
    width: 400px;
  }
}

#social-media {
  display: flex;
  justify-content: space-between;
  width: 200px;
}

#social-media a {
  width: 40px;
}

#social-media a i {
  font-size: 2.7rem;
  background-color: #f16121;
  border-radius: 10px;
  color: white;
  padding: 12px;
  transition: all 0.3s linear;
}

#social-media a i:hover {
  color: #f16121;
  background-color: transparent;
  transform: scale(1.5);
}

.active {
  border: 1px solid white;
  border-radius: 10px;
  color: #000 !important;
  border-top: none;
  border-bottom: none;
}

.nav {
  width: 1000px;
  margin: 10px auto -30px;
  background-color: #f16121;
  border: 1px solid #F16121;
  display: flex;
  justify-content: center;
  border-radius: 50px;
  padding: 15px;
  position: sticky;
  top: 0px;
  z-index: 100;
}

.nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.nav ul li {
  display: inline-block;
  transition: all 0.2s linear;
}

.nav ul li:hover {
  transform: rotate(2deg);
}

.nav ul li a {
  padding: 5px;
  color: white;
  text-decoration: none;
  font-family: "Comfortaa";
  font-size: 20px;
  transition: all 0.2s linear;
}

.nav ul li a:hover {
  border: 1px solid white;
  border-radius: 10px;
  color: #000 !important;
  border-top: none;
  border-bottom: none;
}

.top-item:nth-child(2) span {
  animation: animated-text 2s steps(29, end) 6s 1 normal both;
}

/*Design of Navigation Bar*/
.fade-in {
  animation-name: fadeIn;
  animation-duration: 4s;
  animation-timing-function: linear;
}

.fade-out {
  animation: fadeOut 4s linear;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  25% {
    opacity: 0.25;
  }
  50% {
    opacity: 0.5;
  }
  75% {
    opacity: 0.75;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  25% {
    opacity: 0.75;
  }
  50% {
    opacity: 0.5;
  }
  75% {
    opacity: 0.25;
  }
  100% {
    opacity: 0;
  }
}

* {
  box-sizing: border-box;
}

*::before, *::after {
  box-sizing: border-box;
}

.body {
  font-family: 'Roboto', sans-serif;
  font-size: 3rem;
  line-height: 1.5;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  margin: 0;
  height: 100vh;
  background-color: #f16121;
  overflow: hidden;
  position: fixed;
  min-width: 100vw;
  top: 0;
  z-index: 1000;
  animation: disnone 2s linear;
  animation-delay: 20s;
  animation-fill-mode: forwards;
}

@keyframes disnone {
  from {
    height: 100vh;
  }
  to {
    height: 0;
  }
}

#container {
  position: relative;
  transform: scale(0.725);
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.news-from-partners {
  height: 500px;
  font-family: "Comfortaa";
}

.news-from-partners .news-section-header {
  font-size: 4rem !important;
  text-align: center;
}

.news-from-partners *, .news-from-partners *:before, .news-from-partners *:after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.news-from-partners body {
  overflow: hidden;
  font-family: Helvetica, Arial, sans-serif;
}

.news-from-partners .slider {
  position: relative;
  height: 100vh;
}

.news-from-partners .slider__slides {
  z-index: 1;
  position: relative;
  height: 100%;
}

.news-from-partners .slider__control {
  z-index: 2;
  position: absolute;
  top: 50%;
  left: 5%;
  width: 60px;
  height: 60px;
  margin-left: -30px;
  margin-top: -30px;
  border-radius: 50%;
  background: #fff;
  transition: background-color 0.3s;
  cursor: pointer;
}

.news-from-partners .slider__control--right {
  left: 95%;
}

.news-from-partners .slider__control:hover {
  background-color: #2da6ff;
}

.news-from-partners .slider__control-line {
  position: absolute;
  left: 23px;
  top: 50%;
  width: 3px;
  height: 14px;
  transform-origin: 50% 0;
  transform: rotate(-45deg);
}

.news-from-partners .slider__control-line:nth-child(2) {
  transform: translateY(1px) rotate(-135deg);
}

.slider__control--right .news-from-partners .slider__control-line {
  left: 37px;
  transform-origin: 1px 0;
  transform: rotate(45deg);
}

.slider__control--right .news-from-partners .slider__control-line:nth-child(2) {
  transform: translateY(1px) rotate(135deg);
}

.news-from-partners .slider__control-line:after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: #e2e2e2;
  transition: background-color 0.3s;
}

.slider__control:hover .news-from-partners .slider__control-line:after {
  background-color: #fff;
}

.slider__control.a--rotation .news-from-partners .slider__control-line:after {
  animation: arrowLineRotation 0.49s;
}

.slider__control.a--rotation .news-from-partners .slider__control-line:nth-child(1):after {
  animation: arrowLineRotationRev 0.49s;
}

@keyframes arrowLineRotation {
  to {
    transform: rotate(180deg);
  }
}

@keyframes arrowLineRotationRev {
  to {
    transform: rotate(-180deg);
  }
}

.news-from-partners .slide {
  overflow: hidden;
  position: absolute;
  left: 50%;
  top: 50%;
  width: 150vmax;
  height: 150vmax;
  transform: translate(-50%, -50%);
  border-radius: 50%;
  transition: clip-path 0s 0.91s;
  clip-path: circle(30px at 120vw 50%);
}

.news-from-partners .slide.s--prev {
  clip-path: circle(30px at 30vw 50%);
}

.news-from-partners .slide.s--active {
  z-index: 1;
  transition: clip-path 1.3s;
  clip-path: circle(120vmax at 120vw 50%);
}

.news-from-partners .slide.s--active.s--active-prev {
  clip-path: circle(120vmax at 30vw 50%);
}

.news-from-partners .slide:nth-child(1) .slide__inner {
  background-image: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/142996/onepgscr-2.jpg");
}

.news-from-partners .slide:nth-child(2) .slide__inner {
  background-image: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/142996/onepgscr-3.jpg");
}

.news-from-partners .slide:nth-child(3) .slide__inner {
  background-image: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/142996/onepgscr-4.jpg");
}

.news-from-partners .slide:nth-child(4) .slide__inner {
  background-image: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/142996/onepgscr-5.jpg");
}

.news-from-partners .slide:nth-child(5) .slide__inner {
  background-image: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/142996/onepgscr-6.jpg");
}

.news-from-partners .slide__inner {
  position: absolute;
  left: 50%;
  top: 50%;
  width: 100vw;
  height: 100vh;
  margin-left: -50vw;
  margin-top: -50vh;
  background-size: cover;
  background-position: center center;
}

.news-from-partners .slide__inner:before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.3);
}

.news-from-partners .slide__content {
  position: absolute;
  left: 5%;
  top: 50%;
  margin-left: -30px;
  margin-top: 48px;
  max-width: 480px;
  color: #fff;
}

.news-from-partners .slide__heading {
  margin-bottom: 20px;
  font-size: 60px;
}

.news-from-partners .slide__text {
  font-size: 25px;
}

.news-from-partners .slide__text a {
  color: inherit;
}

.loading-text {
  position: relative;
  font-size: 6rem;
  font-weight: 300;
  margin: 0;
  white-space: nowrap;
}

.loading-text span:nth-child(2)::before {
  position: absolute;
  content: "";
  z-index: 1;
  top: 40px;
  left: 115px;
  width: 6px;
  height: 6px;
  background: #000;
  border-radius: 50%;
  animation: dotMove 1800ms cubic-bezier(0.25, 0.25, 0.75, 0.75) infinite;
}

.loading-text .letter {
  display: inline-block;
  position: relative;
  color: #000;
  letter-spacing: 8px;
}

.loading-text .letter:nth-child(7) {
  transform-origin: 100% 70%;
  animation: letterStretch 1800ms cubic-bezier(0.25, 0.23, 0.73, 0.75) infinite;
}

.loading-text .letter:nth-child(7)::before {
  position: absolute;
  content: "";
  top: 15px;
  left: 2px;
  width: 9px;
  height: 15px;
}

@keyframes dotMove {
  0% {
    transform: rotate(180deg) translate(-205px, 30px) rotate(-180deg);
  }
  80% {
    transform: rotate(0deg) translate(-97px, 17px);
  }
  100% {
    transform: rotate(0deg) translate(-97px, 19px);
  }
}

@keyframes letterStretch {
  0%,
  100% {
    transform: scale(1, 0.35);
    transform-origin: 100% 75%;
  }
  8%,
  28% {
    transform: scale(1, 2.125);
    transform-origin: 100% 67%;
  }
  37% {
    transform: scale(1, 0.875);
    transform-origin: 100% 75%;
  }
  46% {
    transform: scale(1, 1.03);
    transform-origin: 100% 75%;
  }
  50%,
  97% {
    transform: scale(1);
    transform-origin: 100% 75%;
  }
}

@keyframes lineStretch {
  0%,
  45%,
  70%,
  100% {
    transform: scaleY(0.125);
  }
  49% {
    transform: scaleY(0.75);
  }
  50% {
    transform: scaleY(0.875);
  }
  53% {
    transform: scaleY(0.5);
  }
  60% {
    transform: scaleY(0);
  }
  68% {
    transform: scaleY(0.18);
  }
}

@media (min-width: 48rem) {
  #container {
    transform: scale(0.725rem);
  }
}

@media (min-width: 62rem) {
  #container {
    transform: scale(0.85);
  }
}

:root {
  --animate-duration: 2s !important;
}

html {
  font-size: 10px;
}

.show {
  opacity: 1;
}

.hide {
  opacity: 0;
  transition: opacity 400ms;
}

section.header {
  height: 1300px;
}

/*Design of top div*/
/*Design of slider*/
.intro {
  background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.8)), url(../../img/home_page/img/header.jpg);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 860px;
  color: white;
}

.intro-item-list {
  margin: 0;
  padding: 0;
  list-style: none;
  width: 700px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.intro-item-list-item:first-child {
  text-align: center;
}

.intro-item-list-item:first-child .logo-icon {
  position: relative;
  top: 30px;
}

.intro-item-list-item:first-child .logo-text {
  font-family: "Artful Beauty";
  color: white;
  font-size: 7rem;
}

.intro-item-list h3 {
  font-size: 5rem !important;
}

.intro-item-list p {
  width: 500px;
  font-size: 3rem;
  text-align: center;
}

.intro-item-list-item:nth-child(4) {
  display: flex;
}

.intro-item-list-item:nth-child(4) a {
  --color: #fff;
  --hover: rgb(241, 97, 33);
  margin: 10px;
  font-size: 4rem;
  background-color: transparent;
  transition: all 0.4s linear;
}

.intro-item-list-item:nth-child(4) a:hover, .intro-item-list-item:nth-child(4) a:focus {
  background-color: var(--hover);
  box-shadow: 0.5em 0.5em 0.5em -0.4em var(--hover);
  transform: translateY(-0.25em);
  color: black;
}

/*Design of last reviews*/
.review {
  background-color: white;
  font-family: 'Open Sans', sans-serif;
  position: relative;
  width: 100%;
  height: 400px;
}

.review-header {
  color: #f16121;
  text-align: center;
  font-size: 3rem !important;
  font-family: "Comfortaa";
}

.review .container {
  position: absolute;
  height: 300px;
  width: 100%;
  top: 60px;
  left: calc(30% - 300px);
  display: flex;
  flex-wrap: wrap;
}

.review .card {
  display: flex;
  height: 280px;
  width: 400px;
  background-color: #f16121;
  border-radius: 10px;
  box-shadow: -1rem 0 3rem #000;
  /*   margin-left: -50px; */
  transition: 0.4s ease-out;
  position: relative;
  left: 0px;
}

.review .card:not(:first-child) {
  margin-left: -50px;
}

.review .card:hover {
  transform: translateY(-20px);
  transition: 0.4s ease-out;
}

.review .card:hover ~ .card {
  position: relative;
  left: 50px;
  transition: 0.4s ease-out;
}

.review .title {
  color: white;
  font-weight: 300;
  position: absolute;
  left: 20px;
  top: 15px;
}

.review .user {
  width: 60%;
  font-size: 2rem;
  position: absolute;
  top: 55px;
  left: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.review .user-icon {
  color: white;
  align-self: center;
  font-size: 3rem;
}

.review .user-name {
  color: white;
}

.review .bar {
  position: absolute;
  top: 100px;
  left: 20px;
  height: 5px;
  width: 90%;
}

.review .bar hr {
  background-color: gray;
}

.review .content-review {
  position: absolute;
  left: 20px;
  top: 40%;
  background-color: transparent;
  width: 90%;
  display: flex;
  border: none;
}

.review .content-review i {
  color: white;
  font-size: 3rem;
}

.review .content-review p {
  font-size: 2rem;
  color: white;
  margin-left: 5px;
}

.review .card-footer {
  width: 90%;
  position: absolute;
  bottom: 10px;
  color: white;
  display: flex;
  justify-content: space-between;
  background-color: transparent;
  font-size: 1.5rem;
}

.review .card-footer .read-more a {
  text-decoration: none;
  color: white;
  opacity: 0;
  animation: border-progress;
}

.review .card:hover a {
  opacity: 1;
  text-decoration: underline;
}

.intro-item-list-item:nth-child(1) {
  opacity: 0;
  animation-name: fadeIn;
  animation-duration: 2s;
  animation-delay: 8s;
  animation-fill-mode: forwards;
}

.intro-item-list-item:nth-child(2) {
  opacity: 0;
  animation-name: fadeIn;
  animation-duration: 2s;
  animation-delay: 9s;
  animation-fill-mode: forwards;
}

.intro-item-list-item:nth-child(3) {
  opacity: 0;
  animation-name: fadeIn;
  animation-duration: 2s;
  animation-delay: 10s;
  animation-fill-mode: forwards;
}

.intro-item-list-item:nth-child(4) {
  opacity: 0;
  animation-name: fadeIn;
  animation-duration: 2s;
  animation-delay: 11s;
  animation-fill-mode: forwards;
}
/*# sourceMappingURL=style.css.map */