
@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@600&display=swap');

$gray : gray;
$orange : rgb(241, 97, 33);
$font-antonio: "Antonio";
$font-comfortaa : "Comfortaa";
$dark-gray : darken(gray, 50%);
$black: #000;
$white: #fff;
$footer-bg:#433E3D;
$usually-used-font: "Comfortaa",cursive;
@mixin for-circle($width) {
    width: $width;
    height: $width;
    border-radius: 50%
}
.our-hr-style{
    
        border:  2px dashed orange;
        width: 50px;
  
}

@mixin reset-list {
    margin: 0;
    padding: 0;
    list-style: none;
}

@mixin classic-border($color) {
    border: 1px solid $color;
}
