html {
  font-size: 10px;
}

.show {
  opacity: 1;
}

.hide {
  opacity: 0;
  transition: opacity 400ms;
}

/*Design of top div*/
.top {
  width: 100%;
  height: 130px;
}

.brand-logo {
  width: 300px;
  object-fit: cover;
}

.contact {
  width: 400px;
  height: 50%;
  position: relative;
  bottom: 5px;
}
.contact .contact-item {
  display: flex;
  margin-right: 20px;
  height: 70px;
  position: relative;
  bottom: 10px;
}
.contact .contact-item .contact-item-icon {
  align-self: center;
  margin-right: 2px;
}
.contact .contact-item:first-child i {
  padding: 9px;
  padding-left: 10px;
  font-size: 2.4rem;
}
.contact .contact-item i {
  font-size: 2.4rem;
  color: #fff;
  padding: 8px;
  background-color: #010101;
  border: 3px solid #9a9a9a;
  width: 45px;
  height: 45px;
  border-radius: 50%;
}
.contact .contact-item-text {
  color: gray;
  font-size: 1rem;
}

#social-media i {
  font-size: 2.9rem;
  color: lightgray;
  padding: 8px;
  transition: all 0.3s linear;
}
#social-media i:hover {
  color: orange;
}

/*Design of Navigation Bar*/
.nav {
  width: 1000px;
  margin: 10px auto -30px;
  background-color: rgba(255, 255, 255, 0.7);
  border: 1px solid #F16121;
  display: flex;
  justify-content: center;
  border-radius: 50px;
  padding: 15px;
  position: sticky;
  top: 0px;
  z-index: 1;
}
.nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.nav ul li {
  display: inline-block;
}
.nav ul li:hover {
  background-color: rgba(241, 97, 33, 0.3);
  border-radius: 5px;
}
.nav ul li a {
  padding: 5px;
  color: #F16121;
  text-decoration: none;
  font-family: "Comfortaa";
  font-size: 20px;
}

/*Design of slider*/
.slider-container {
  width: 100%;
  position: relative;
  height: 750px;
}
.slider-container .slider-item {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-content: center;
  position: relative;
}
.slider-container .slider-item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.slider-container .slider-item .slider-item-list {
  margin: 0;
  padding: 0;
  list-style: none;
  color: white;
  font-size: 3rem !important;
  position: absolute;
  top: 65px;
  margin-left: auto;
  margin-right: auto;
}
.slider-container .slider-item .slider-item-list-item {
  display: flex;
  justify-content: center;
}
.slider-container .slider-item .slider-item-list-item h4 {
  font-size: 6rem;
}
.slider-container .slider-item .slider-item-list-item .logo {
  text-align: center;
  max-width: fit-content;
}
.slider-container .slider-item .slider-item-list-item .logo-icon {
  width: 300px;
}
.slider-container .slider-item .slider-item-list-item .logo-icon img {
  width: 100%;
}
.slider-container .slider-item .slider-item-list-item .logo-text {
  font-family: "Artful Beauty";
  font-size: 7rem;
  position: relative;
  bottom: 20px;
}
.slider-container .slider-item .slider-item-list-item .btn {
  font-size: 3rem;
  text-align: center;
  border-radius: 30px;
  background-color: transparent;
  transition: all 0.3s linear;
}
.slider-container .slider-item .slider-item-list-item .btn:hover {
  background-color: chartreuse;
}

/*# sourceMappingURL=style.css.map */
