@use 'sass:color';

@mixin for-circle($width) {
    width: $width;
    height: $width;
    border-radius: 50%
}

@mixin reset-list {
    margin: 0;
    padding: 0;
    list-style: none;
}

$gray : gray;
$orange : orange;
$font-antonio: "Antonio";
$font-comfortaa : "Comfortaa";
$dark-gray : darken(gray, 50%);


/*Design of top div*/
.top {

    width: 100%;
    height: 130px;

}

.container {
    height: 100%;
    margin: 0 !important;

}

.contact {
    width: 400px;
    height: 50%;
    display: flex !important;


    #{&}-item {

        display: flex;
        margin-right: 20px;
        height: 70px;

        & .contact-item-icon {
            align-self: center;
            margin-right: 2px;
        }


        &:first-child i {
            padding: 9px;
            padding-left: 10px;
            font-size: 1.5rem;
        }

        i {
            font-size: 1.4rem;
            color: #fff;
            padding: 8px;
            background-color: $dark-gray;
            border: 3px solid lighten(gray, 10%);
            @include for-circle(45px);

        }

        &-text {
            color: $gray;
            font-size: 1rem;



        }



    }

}

#social-media {

    i {
        font-size: 1.9rem;
        color: lightgray;
        padding: 8px;
        transition: all 0.3s linear;

        &:hover {
            color: $orange;
        }
    }
}

/*Design of Navigation Bar*/
.nav {
    width: 1000px;
    margin: 10px auto -30px;
    background-color: #F16121;
    display: flex;
    justify-content: center;
    border-radius: 50px;
    padding: 15px;
    position: sticky;
    top: 0px;


    ul {
        @include reset-list;
        display: flex;
        justify-content: space-between;
        width: 100%;

        li {
            display: inline-block;

            &:hover {
                background-color: rgba(255, 255, 255, 0.3);
            }

            a {
                padding: 5px;
                color: white;
                text-decoration: none;
                font-family: $font-comfortaa;
                font-size: 20px;

            }
        }
    }
}

.introduction {
    width: 100%;
    height: 750px;
    background-color: red;
}
