@import '../../generals/sass/variables';
@import '../../generals/sass/scrollbar';
@import '../../generals/sass/header';
@import '../../generals/sass/footer';
html{
    font-size: 10px;
}
.partnership{
    box-shadow: 0px 0px 2px ;
    padding: 30px;
    min-height: 500px;
        
    
    font-family: "Comfortaa";
    .container{
        height: 100%;
       
    }
    hr{
        border:  2px dashed orange;
        width: 50px;
    }
    h1{
     
        font-size: 4rem !important;
    }
    h2{
        font-size: 3rem;
    }
    p{
        font-size: 2rem;
    }
    
}
.superiorieties{
  // MEDIA QUERY
@mixin media($breakpoint) {
@if $breakpoint == small {
  @media (max-width: 60em) {
    @content;
  }
}
}

// VARIABLES
$color-header: #0d0d0d;
$color-text: #404040;

$color-btn-text: #3363ff;
$color-btn-background: #e6ecff;

$transition: .2s;

// RESET




// MAIN CONTENT
.grid {
display: flex;
justify-content: space-evenly;
width: 100%;
flex-wrap: wrap;
align-content: space-between;



&__item {
    
  background-color: #fff;
  

  
   border: none;
  cursor: pointer;
  transition: $transition;
  
  &:hover {
    transform: translateY(-.5%);
    box-shadow: 0 4rem 8rem rgba(0, 0, 0, .2);
  }
}
}

.card {

  width: 250px;
  height: 400px;
  
&__img {
  display: block;

  height: 18rem;
  object-fit: cover;
 }
 


&__content {
  padding: 3rem 3rem;
 

}

&__header {
  font-size: 2rem;
  font-weight: 500;
  color: $color-header;
  margin-bottom: 1.5rem;
}

&__text {
  font-size: 1rem;
  letter-spacing: .1rem;
  line-height: 1.7;
  color: darken($color-text, 1%);
  margin-bottom: 2.5rem;
}
&__footer
{
    
     a{
    padding: 5px;
}
}


}
}