{% extends "admin/base.html" %}
{% block title %}
Haqqımızda
{% endblock %}
{% block aboutUs %}
active
{% endblock %}
{% block cssLink %}
<style>
    h2{
        text-align: center;
    }
</style>
{% endblock %}
{% block websiteURL %}
/about_us
{% endblock %}
{% block activationGoToWebsite %}

{% endblock %}
{% block page %}
<hr>
<div class="container">
    <div class="add-content">
        <h2>Yazını dəyişdir</h2>
        <hr>
        <form action="/adminside/about_us/edit/{{selected.id}}" method="POST">
        {{form.content(id = "summernote",placeholder = "Haqqınızda məlumat daxil edin")}}
        {{form.button(value="Təsdiq et",class = "form-control btn btn-primary")}}
        </form>
    </div>
</div>
{% endblock %}
{% block jsLink %}
<script>
    $(document).ready(function(){
        $('#summernote').summernote('code','{{selected.content|safe}}')
    })
</script>
{% endblock %}