{% extends "admin/base.html" %}
{% block title %}
Tez-tez soruşulan suallar
{% endblock %}
{% block faq %}
active
{% endblock %}
{% block websiteURL %}
/FAQ
{% endblock %}
{% block activationGoToWebsite %}

{% endblock %}

{% block page %}
<hr>
<div class="container d-flex justify-content-between">
  <div class="add-question " style="flex-grow: 1;">
    <h2>Sual əlavə et</h2>
    <hr>
    <form action="/adminside/faq" method="POST" enctype="multipart/form-data">
        {{form.question(class="form-control",rows="5",placeholder="Sualı daxil edin")}}
        {{form.answer(class = "form-control",rows="5",placeholder="Cavabı  daxil edin")}}
        {{form.button(class = "form-control btn-primary btn" ,value = "Əlavə et")}}
    </form>
  </div>


    <div class="question-list" style="flex-grow: 1;">
      <h2>Tez-tez soruşulan suallar</h2>
      <hr>
{% for faq in  allFaq %}

  <div class="card">
    <div class="card-header">
      {{faq.id}}
    </div>
    <div class="card-body">
      <h5 class="card-title">{{faq.question}}</h5>
      <p class="card-text">{{faq.answer}}</p>
      <a href="/adminside/faq/delete/{{faq.id}}" class="btn btn-danger">Sil</a>
      <a href="/adminside/faq/edit/{{faq.id}}" class="btn btn-primary">Dəyişdir</a>
      
    </div>
</div>


{% endfor %}
</div>
</div>

{% endblock %}
