<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
      
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
          <a class="nav-link {% block activeFirst %}
          
          {% endblock %}" aria-current="page" href="/">Ana səhifə</a>
          <a class="nav-link {% block activeSecond %}
          
          {% endblock %}" href="/new">Yeni fikir əlavə et</a>
          <a class="nav-link {% block activeThird %}
          
          {% endblock %}" href="/feedbacks">Fikirlərə bax</a>
          <a class="nav-link {% block activeFourth %}
          
          {% endblock %}" href="/add_restaurant">Restoranlar</a>
        </div>
      </div>
    </div>
  </nav>