{% extends "admin/base.html" %}
{% block title %}
Qaydalar
{% endblock %}
{% block rules %}
active
{% endblock %}
{% block cssLink %}
<style>
  form *{
    margin-top: 10px;
  }
</style>
{% endblock %}
{% block websiteURL %}
/rules
{% endblock %}
{% block activationGoToWebsite %}

{% endblock %}
<hr>
{% block page %}
<div class="container d-flex">

  <div class="add-rule" style="flex-grow: 1;">
    <h2>Qayda əlavə et</h2>
    <hr>
    <form action="/adminside/rules" method="POST" enctype="multipart/form-data">
      {{forms.title(class="form-control" ,placeholder = "Başlığı daxil edin")}}  
      {{forms.content(id="summernote" ,placeholder = "Kontenti daxil  edin")}}
      {{forms.button(class="btn btn-primary btn-block",value = "Əlavə et", placeholder = "Daxil edin")}}
    </form>
  </div>
  <div class="rules" style="flex-grow: 1;">
    <h2>Qaydalar</h2>
    <hr>
    {% for rule in  rules %}

<div class="card">
    <div class="card-header">
      {{rule.id}}
    </div>
    <div class="card-body">
      <h5 class="card-title">{{rule.title}}</h5>
     
      <p class="card-text">{{rule.content|safe}} </p>
   
      <a href="/adminside/rules/delete/{{rule.id}}" class="btn btn-danger">Sil</a>
      <a href="/adminside/rules/edit/{{rule.id}}" class="btn btn-primary">Dəyişdir</a>
      <a href="/adminside/rules/edit/{{rule.id}}" class="btn btn-dark">Ətraflı bax</a>

      
    </div>
</div>
{% endfor %}
  </div>
    
</div>




{% endblock %}
{% block jsLink %}

<script>
 
$(document).ready(function(){
  $('#summernote').summernote();
})

</script>
{% endblock %}