{% extends "admin/base.html" %}
{% block title %}
{{selected.topic}}
{% endblock %}
{% block cssLink %}
<style>
    .ratings span{
        border:1px solid black;
        display: inline-block;
        padding: 5px;
        margin: 2px;
    }
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
  position: relative;
  background-color: #fefefe;
  margin: auto;
  padding: 0;
  border: 1px solid #888;
  width: 80%;
  box-shadow: 0 4px 0px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
  -webkit-animation-name: animatetop;
  -webkit-animation-duration: 0.4s;
  animation-name: animatetop;
  animation-duration: 0.4s
}

/* Add Animation */
@-webkit-keyframes animatetop {
  from {top:-900px; opacity:0} 
  to {top:900px; opacity:1}
}

@keyframes animatetop {
  from {top:-300px; opacity:0}
  to {top:300px; opacity:1}
}

/* The Close Button */
.close {
  color: white;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

.modal-header {
  padding: 2px 16px;
  text-align: center;
  background-color: #5cb85c;
  color: white;
}

</style>
{% endblock %}
{% block page %}
<div class="modal">
    <div class="card">
        <div class="card-header">
          Featured
        </div>
        <div class="card-body">
          <h5 class="card-title">Special title treatment</h5>
          <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
          <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
      </div>
</div>
<div class="show-operations d-flex "  style="z-index: 100;position: fixed; bottom: 10px;right:5px;">
    <div    class="operations my-3 ml-5" style="z-index: 100; align-self:  center;transition: all 0.5s linear; display: none;">
        <a href="/adminside/verify_feedback/{{selected.id}}" class="btn btn-success">Qəbul et</a>
        <a href="/adminside/delete_feedback/{{selected.id}}"  class="btn btn-danger">Sil</a>
        <button  class="openModal btn btn-warning">Təkrar yazılma üçün göndər</button>
        </div>
        <button class="btn btn-light ml-3" style="background-color: rgb(184, 173, 173);border:none ;font-size:20px ;width: fit-content; align-self: center;  box-shadow: 2px 2px 3px;letter-spacing: 0.2cm;padding: 15px;border-radius: 50%;"><b>...</b></button>

</div>

<div class="container">
   
    <div id="myModal" class="modal">

        <!-- Modal content -->
        <div class="modal-content">
          <div class="modal-header">
            <h2>Mesaj göndər</h2>
            <span class="close">&times;</span>
           
          </div>
          <div class="modal-body">
            <form action="/adminside/resend_user_feedback/{{selected.id}}" method="POST">
                <label for="feedback-owner">Mesaj göndərilən şəxs</label>
            <input type="text"  name="feedback-owner" id="feedback-owner" class="form-control" value="{{selected_user_name}}" >
            <label class="mt-3" for="resend-reason">Qəbul edilməmə səbəbi</label>
            <textarea  class="form-control"  name="resend-reason" id="resend-reason" cols="30" rows="10"></textarea>
           
          </div>
          <div class="modal-footer">
            <h3>
                <button type="submit" class="btn btn-block btn-success">Mesajı göndər</button>
            </h3>
        </form>
          </div>
        </div>
      
      </div>
    <div class="card">
        <h5 style="text-align: center;" class="card-header">{{selected_user_name}}</h5>
        <img  style="height: 300px;" src="{{url_for('adminPanel.static',filename = 'admin/uploads/%s' %selected.photo)}}"  class="card-img" alt="">
        <div class="card-body">
          <h5 class="card-title">{{selected.topic}}</h5>
          <p class="card-text">{{selected.content}}</p>
          <hr>
          <div class="ratings d-flex justify-content-between" style="font-size: 2rem;">
            <span class="d-flex" style="flex-direction: column;align-items: center;"> Dad
                <div class="stars">
                {% for i in range(selected.tasteRating) %}
                <i class="fas fa-star"></i>
                {% endfor %}
            </div>


            </span>   
         
               <span class="d-flex" style="flex-direction: column;align-items: center;">
                Personal 
               
                <div class="stars">
                    {% for i in range(selected.serviceRating) %}
                    <i class="fas fa-star"></i>
                    {% endfor %}
                </div>
                
             </span> 
           
             <span class="d-flex" style="flex-direction: column;align-items: center;">
                 Atmosfer 
                 <div class="stars">
                    {% for i in range(selected.atmosphereRating) %}
                    <i class="fas fa-star"></i>
                    {% endfor %}
                 </div>
                 
                </span>
          </div>
          
        </div>
        <div class="card-footer">
            <table class="table table-light table-striped" style="border-radius:10px;">
        
                <thead style="text-align: center; font-size: 50px; " >
                    <th style="height: 100px;  position: relative; " colspan="5">Restoran</th>
                </thead>
                <tbody>
                    <tr>
                    <th>Adı</th>
                    <td>{{selected.restaurant_name_from_user}}</td>
                    </tr>
                    <tr>
                    <th>Sistemdə vəziyyəti</th>
                    {% if selected.restaurant_id %}
                    <td><i data-toggle="tooltip" data-placement="top" title="Var" style="color: green;" class="fas fa-check-circle"></i></td>
                    {% else %}
                
                    
                    <td><i data-toggle="tooltip" data-placement="top" title="Yoxdur" style="color: red;"  class="fas fa-times-circle"></i></td>
                    {% endif %}
                    </tr>
                        <tr>
                    <th>Əməliyyat</th>
                    {% if selected.restaurant_id %}
                        <td><a href="/adminside/restaurants/seeDetails/{{selected.restaurant_id}}">Profilə bax</a></td>
                    {% else %}
                     <td><a href="/adminside/add_restaurant/{{selected.restaurant_name_from_user}}">Əlavə et</a></td>
                     {% endif %}
                            </tr>
                </tbody>
            </table>
        </div>
      </div>
   
    </div>

{% endblock %}
{% block jsLink %}
<script>
 
  $(function () {
  $('[data-toggle="tooltip"]').tooltip()
})

$('.show-operations button').click(function(){
    if($('.operations').css('display')=="none"){
        $('.operations').css('display','block')
    }
    else{
        $('.operations').css('display','none')
    }
    
})
var modal = document.getElementById("myModal");

// Get the button that opens the modal
var btn = document.getElementsByClassName("openModal")[0];

// Get the <span> element that closes the modal
var span = document.getElementsByClassName("close")[0];

// When the user clicks the button, open the modal 
btn.onclick = function() {
  modal.style.display = "block";
}

// When the user clicks on <span> (x), close the modal
span.onclick = function() {
  modal.style.display = "none";
}

// When the user clicks anywhere outside of the modal, close it
window.onclick = function(event) {
  if (event.target == modal) {
    modal.style.display = "none";
  }
}



</script>
{% endblock %}
