{% extends "admin/base.html" %}
{% block title %}
{{selectedRest.name}}
{% endblock %}
{% block page %}
<div class="container" style="height: 100vh;" >
    <div class="card mb-3 my-auto mx-auto" style="max-width: 540px;">
        <div class="row g-0">
          <div class="col-md-4" style="border-right: 2px solid black; max-height: 250px;">
            <img style="height: 120px; width: 180px;" src="{{url_for('adminPanel.static',filename = 'admin/uploads/%s' %selectedRest.logo)}}" alt="...">
          </div>
          <div class="col-md-8">
            <div class="card-body">
              <h5 class="card-title" style="border-bottom: 2px solid black;">{{selectedRest.name}}</h5>
              <p class="card-text">{{selectedRest.about}} </p>
            </div>
          </div>
        </div>
      </div>
</div>

{% endblock %}