{% extends "admin/base.html" %}
{% block  superiority %}
active
{% endblock %}
{% block cssLink %}
<link rel="stylesheet" href="{{url_for('adminPanel.static' , filename= 'admin/superiorities/css/style.css')}}">
<style>
    h2{
        text-align: center;
    }
</style>
{% endblock %}
{% block title %}
Üstünlüklər
{% endblock %}
{% block page %}
<!-- <label>Choose a browser from this list:
    <input type="input" onkeyup="myFunc()" list="mylist"></label>
    <datalist class="data"   style="display: none;">
        {% for restaurant in restaurants %}
        <option value="{{restaurant.id}}">{{restaurant.name}}</option>
        {% endfor %}
        
        
     </datalist> -->
<div class="container" >
    <h2>Üstünlük əlavə et</h2>
    <form action="/adminside/superiorities" method="POST" enctype="multipart/form-data">
        {{forms.img(class="form-control",placeholder = "Şəkil daxil edin")}}
        {{forms.title(class="form-control title",placeholder = "Başlıq daxil edin")}}        
        {{forms.content(class="form-control content", placeholder = "Kontent  daxil edin")}}  
        {{forms.button(class = "form-control btn btn-primary",value = "Əlavə et")}}        
    </form>
</div>
<hr>


<div class="superiorieties container">
  <h2>Üstünlüklər</h2>
    <div class="grid my-5">
  
       {% for super in supers %}
       <div class="grid__item">
        <div class="card">
            <img class="card__img" src="{{url_for('adminPanel.static',filename = 'admin/uploads/%s'% super.img)}}" alt="Snowy Mountains">
          <div class="card__content">
            <h3 class="card__header">{{super.title}}</h3>
            <p class="card__text">{{super.content}} </p>
          <div class="card__footer">
              <a href="/adminside/superiorities/delete/{{super.id}}" class="btn btn-block btn-danger">Sil</a>
              <a href="/adminside/superiorities/edit/{{super.id}}" class="btn btn-block btn-warning">Dəyişdir</a>
          </div>
          </div>
        </div>
      </div>
       {% endfor %}
       
         
  
       
       
       
       
      </div>
  </div>
  {%endblock %}
 
 
  {% block jsLink %}
  

<script>

</script>
{% endblock %}
