{% extends "admin/base.html" %}
{% block title %}
Qaydalar
{% endblock %}
{% block rules %}
active
{% endblock %}
{% block page %}
<div class="container">
    <form action="/adminside/rules/edit/{{selectedRule.id}}" method="POST" enctype="multipart/form-data">
        {{form.title(class="form-control title" ,placeholder = "Başlığı daxil edin")}}  
        {{form.content(id="summernote",class = "content re-content" ,placeholder = "Kontenti daxil  edin")}}
        {{form.button(class="form-control",value = "Təsdiq et")}}
    </form>
</div>





{% endblock %}
{% block jsLink %}

<script>


$("#summernote").summernote("code",'{{content|safe}}')




</script>
{% endblock %}
