{% extends "admin/base.html" %}
{% block title %}

{% endblock %}
{% block faq %}
active
{% endblock %}
{% block page %}
<div class="container d-flex justify-content-center align-items-center" style="height: 100vh;flex-direction: column;" >
  <h1 >Tez-tez soruşulan sualı dəyişdir</h1>
    <form class="my-5" style="width: 100%;" action="/adminside/faq/edit/{{selected.id}}" method="POST" enctype="multipart/form-data">
      {{form.question(class="form-control question",placeholder="Sualı daxil edin")}}
      {{form.answer(class = "form-control answer",placeholder="Cavabı  daxil edin")}}
      {{form.button(class = "form-control btn-primary btn" ,value = "Təsdiq et")}}
    </form>
</div>



{% endblock %}
{% block jsLink %}
<script>
$('.question').html("{{selected.question}}")
$('.answer').html("{{selected.answer}}")
</script>
{% endblock %}

