{% extends "admin/base.html" %}
{% block restaurants %}
active
{% endblock %}
{% block title %}
Dəyişdir
{% endblock %}
{% block page %}

<div class="container">
    <div class="rest-logo mx-auto" style="padding: 20px; border:1px  solid black; border-radius: 50%; max-width: fit-content; min-height: 250px;">
        <img src="{{url_for('adminPanel.static',filename = 'admin/uploads/%s' %selectedRest.logo)}}" style="max-height:200px  ; border-radius: 50%;" alt="">
    </div>
    <form action="/adminside/restaurants/edit/{{selectedRest.id}}" method="POST" enctype="multipart/form-data">
        {{forms.name(class = "form-control",value=selectedRest.name)}}
         {{forms.logo(class = "form-control ")}}
        {{forms.about(class = "form-control about")}}
        {{forms.button(class = "form-control btn btn-primary",value = "Təsdiq et")}}
    </form>
    </div>


{% endblock %}
{% block jsLink %}
<script>
    document.querySelector('.about').innerHTML='{{selectedRest.about}}'
</script>
{% endblock %}