{% extends "admin/base.html" %}
{% block users %}
active
{% endblock %}
{% block title %}
İstifadəçilər
{% endblock %}
{% block page %}
<div class="container">
  <h1 class="text-center">İstifadəçilər</h1>


<table   class="table table-dark table-striped">
    <thead >
      <tr >
        <th scope="col">ID</th>
        <th scope="col">Ad</th>
        <th scope="col">E-mail</th>
        <th scope="col">Şifrə</th>
        <th scope ="col">Əməliyyat</th>
      </tr>
    </thead>
    <tbody>
        {% for user in users %}
        <tr style="height: 50px;">
            <th scope="row">{{user.id}}</th>
            <td>{{user.fullname}}</td>
            <td>{{user.email}}</td>
            <td>{{user.password}}</td>
            <td style="font-size: 1.5rem;">
              <a style="color: white;" href="/adminside/users/delete_user/{{user.id}}"><i class="bi bi-trash"></i></a>
              <a style="color: white;" href="/adminside/users/show_user_details/{{user.id}}"><i class="bi bi-info-circle-fill"></i></a>
            </td>
          </tr>
        {% endfor %}
      
      
    </tbody>
  </table>
</div>
{% endblock %}