<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>{{person}}</h1>
    {% if age>=18 %}
        <h2>Yaşın uyğundur</h2>
    {% else %}
        <h2>Yaşın uyğun deyil.Böyü,sonra gəl</h2>
    {% endif %}
   
    <ul>
        {% for item in arr %}
        <li>{{item}}</li>
        {% endfor %}
    </ul>
    
</body>
</html>