@import '../../generals/sass/variables';
@import '../../generals/sass/scrollbar';
@import '../../generals/sass/header';
@import '../../generals/sass/footer';
@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@600&display=swap');
html{
    font-size: 10px;
}

.review {
    background-color:white;
   
    box-shadow: 0px 0px 2px ;
      width: 100%;
      min-height: 600px;
      padding: 30px;
    font-family: $usually-used-font;
      &-header{
          color: $orange;
          text-align: center;
          font-size: 4rem !important;
          
      }
      &-paragraph{
       font-family: $usually-used-font;
        letter-spacing: 2px;
      }
      .name-and-rating{
        position: absolute;
        width: 90%;
        left: 20px;
        top: 15px;
        .rest-name {
          text-align: center;
          color: white;
          font-weight: 300;
        
        }
      }
     
  
      .card{
         
          min-height: 330px
      }
  }
  