@import '../../generals/sass/variables';
@import '../../generals/sass/scrollbar';
@import '../../generals/sass/header';
@import '../../generals/sass/footer';
@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@600&display=swap');
html{
    font-size: 10px;
}

.review {
    background-color:white;
    font-family: 'Open Sans', sans-serif;
    box-shadow: 0px 0px 2px ;
      width: 100%;
      min-height: 500px;
      padding: 30px;
  font-family: $usually-used-font;
      &-header{
          color: $orange;
          text-align: center;
          font-size: 4rem !important;
          
      }
      &-paragraph{
       font-family: $usually-used-font;
        letter-spacing: 2px;
      }
      .name-and-rating{
        position: absolute;
        width: 90%;
        left: 20px;
        top: 15px;
        .rest-name {
          text-align: center;
          color: white;
          font-weight: 300;
        
        }
      }
     
  
  
  
  .card {
  
    height: 280px;
    
    background-color: $orange;
    border-radius: 10px;
    box-shadow: 0 0 1rem #000;
  /*   margin-left: -50px; */
    transition: 0.4s ease-out;
    position: relative;
    
  }
  
 
 
  
  
      .user{
          width: 60%;
          font-size: 2rem;
          position: absolute;
          top: 55px;
          left: 10px;
          display: flex;
          align-items: center;
          justify-content: space-between;
          &-icon{
              color: white;
              align-self: center;
              font-size: 3rem;
          }
          &-name{
              color: white;
          }
      }
      
  
  .bar {
    position: absolute;
    top: 100px;
    left: 20px;
    height: 5px;
    width: 90%;
      hr{
          background-color: gray;
          
      }
  }
      .content-review{
          position: absolute;
          left: 20px;
          top: 40%;
          background-color: transparent;
          
          width: 90%;
          display: flex;
            border: none;
          i{
              color: white;
              font-size: 3rem;
          }
          p{
              font-size: 2rem;
              color: white;
              margin-left: 5px;
          }
      }
  
  
  .card-footer{
      width: 90%;
      position: absolute;
      bottom: 10px;
      color: white;
      display: flex;
      justify-content: space-between;
      background-color: transparent;
      font-size: 1.5rem;
      .read-more a{
          text-decoration: none;
          color: white ;
          opacity: 0;
          animation: border-progress;
          
      }
     
      }
       .card:hover  a{
          opacity: 1;
           text-decoration: underline;
           
      }
  
  }