{% extends "userside/base.html" %}
{% block title %}
Haqqımızda
{% endblock %}    
{% block cssLink %}
  <link rel="stylesheet" href="{{url_for('user.static',filename='userside/about_us/css/style.css')}}">
{% endblock %}
{% block aboutUs %}
active
{% endblock %}
  

   {% block page %}
   


   
   
    <div class="about-us">
      <div class="container">
          
            <h2 class="my-3 " style="border:none;">Haqqımızda</h2>
            <hr class="our-hr-style">
            <p>

{% for aboutUs in allAboutUs %}
{{aboutUs.content|safe}}
{% endfor %}          
  </p>
        </div>
    </div>
    {% endblock %}
    







   
        

   
{% block jsLink %}
{% endblock %}
