{% extends "userside/base.html" %}
{% block title %}
Detallı Feedback
{% endblock %}
{% block cssLink %}
<link rel="stylesheet" href="{{url_for('user.static', filename='userside/detailed_feedback/style.css')}}">

{% endblock %}
{% block page %}
<section class="review">

    <div class="user-and-rest">
     
        <div class="user-profile">
          <div class="col-xs-12 col-sm-6 col-md-3">
              <div class="image-flip" >
                  <div class="mainflip flip-0">
                      <div class="frontside">
                          <div class="card">
                              <div class="card-body text-center my-5">
                                  <p><img class=" img-fluid" src="https://sunlimetech.com/portfolio/boot4menu/assets/imgs/team/img_01.png" alt="card image"></p>
                                  <h4 class="card-title" >Istifadəçi adı</h4>
                              
  
                              </div>
                            
                            </div>
                      </div>
                    
                  </div>
              </div>
          </div>
        </div>
        <div class="rest-profile">
          <div class="col-xs-12 col-sm-6 col-md-3">
              <div class="image-flip" >
                  <div class="mainflip flip-0">
                      <div class="frontside">
                          <div class="card">
                              <div class="card-body text-center">
                                  <p><img class=" img-fluid" src="https://sunlimetech.com/portfolio/boot4menu/assets/imgs/team/img_01.png" alt="card image"></p>
                                  <h4 class="card-title">Restoran adı</h4>
                                  <span class="card-rating">Reytinq <i class="fas fa-star"></i></span>
                                  <span class="count-feedbacks">8<i class="fas fa-comments"></i></span>
  
                              </div>
                              <button class="btn-see-profile btn " >Profilə bax</button>
                            </div>
                      </div>
                    
                  </div>
              </div>
          </div>
        </div>
        
    </div>
    <div class="blockquote-wrapper">
      <div class="blockquote">
        <h1>
        {{selected.topic}}
         </h1>
        
      </div>
    </div>
        <hr class="our-hr-style my-4">
       <div class="container">
        <h2 style="text-align: center;font-size: 2.6rem; color: #f16121;">
            Qiymətləndirmə
        </h2>
        <div class="ratings d-flex  mx-auto" style="flex-direction: column; width: 50%;font-size: 2rem; ">
            <div class="taste-rating d-flex justify-content-between" style="border-bottom: 2px solid orangered;" > 
                <div class="taste-rating-header">Dad </div>
                <div class="taste-rating-score">
                    {% for i in range(selected.tasteRating) %}
                    ⭐
                    {% endfor %}
              </div>
              </div>
              
            <div class="service-rating d-flex justify-content-between" style="border-bottom: 2px solid orangered;">
              <div class="service-rating-header" >Xidmət </div>
              <div class="service-rating-score">
                  {% for i in range(selected.serviceRating) %}
                    ⭐
                    {% endfor %}
              </div>
            </div>

            <div class="atmp-rating d-flex justify-content-between" >
              <div class="atmp-rating-header">Atmosfer </div>
              <div class="atmp-rating-score"> 
                  {% for i in range(selected.atmosphereRating) %}
                    ⭐
                    {% endfor %}
                   </div>
           </div>
        </div>

        
        
       </div>
       <hr class="our-hr-style mb-5">
       
      <div class="container">
          
              {% if selected.photo %}
              <div class="row">
              <div class="photo col-xs-12 col-sm-12 col-md-12">
                <img src="{{url_for('adminPanel.static',filename ='admin/uploads/%s' %selected.photo)}}" class="review-photo" alt=""> 
                          </div>
                        </div>
              {% endif %}
             
        
        
          <div class="cardam ">
           
              <div class="name-and-rating" >
                  <h3 class="rest-name">{{Restaurant.query.filter_by(id=selected.restaurant_id).first().name}}</h3><span class="rating-section">Reytinqi</span>
              </div>
              
          
          <div class="user d-flex justify-content-center" style=" width: 100%;background-color: #fff;color: #f16121 !important;">
          
           
               <div class="user-icon mr-5"> 
               <i class="fas fa-user" style="color:#f16121">
                   
               </i>
           </div>
           <div class="user-name">
               <span style="color:#f16121 ;">{{User.query.filter_by(id=selected.user_id).first().fullname}}</span>
           </div>
           </div>
           
           <div class="bar"> <hr>
             
             
           </div>
          <div class="content-review" style="background-color: #fff;">
              <div class="real-content" >
                  <div class="icon-quote">
                      <i class="fas fa-quote-left" style=" color: #f16121 !important;"></i>
                  </div>
                   <p class="review-paragraph" style=" color: #f16121 !important;">
                       {{selected.content}}
                </p>
                  <i class="fas fa-quote-right" ></i>
                
              </div>
                 
           </div>
           <div class="card-footer cardam-footer text-center    ">
              <div class="date " >
               <span>{{((selected.time.split(" ")[0].split("-")[2])|int)|string +" "+ month[selected.time.split(" ")[0].split("-")[1]]+" " +selected.time.split(" ")[0].split("-")[0]}}</span>
           </div>
              
           
       </div>
           
           
         </div>
         
         
       </div>
     
     
 
  </div>
   
     
    </div>
 
    
    
  
  
  </section>
 
{% endblock %}