{% extends "userside/base.html" %}
{% block FAQ %}
active
{% endblock %}
{% block cssLink %}
<link rel="stylesheet" href="{{url_for('user.static', filename='userside/faq/css/style.css')}}">

{% endblock %}
    {% block title %}
Tez-tez soruşulan suallar
{% endblock %}
   {% block page %}
   <section class="faq">

   
    <div class="container">
        <h2>Tez-tez soruşulan suallar</h2>
        <div class="accordion">
          {% for faq  in FAQS %}
          
          
          <div class="accordion-item">
            <button id="accordion-button-1" aria-expanded="false"><span class="accordion-title">{{faq.question}}</span><span class="icon" aria-hidden="true"></span></button>
            <div class="accordion-content">
              <p>{{faq.answer}}</p>
            </div>
          </div>
          {%endfor%}
                  </div>
      </div>
    </section>

   {% endblock %}
    






        
   
  
   {% block jsLink %}
   <script src="{{url_for('user.static', filename='userside/faq/js/script.js')}}"></script>

   {% endblock %}
