{% extends "userside/base.html" %}
{% block feedbacks %}
active
{% endblock %}
   {% block cssLink %}
   <link rel="stylesheet" href="{{url_for('user.static', filename='userside/feedbacks/css/style.css')}}">
    <style>
        .card{
            font-size: 1.7rem;
           
        }
        *, *::before, *::after {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
	border: 0;
}
label{
  margin-left:5px   ;
}

    </style>
   {% endblock %}


        {% block title %}
        Fikirlər
        {% endblock %} 
    
  {% block page %}
  <section class="review">
    <h1 style="text-align: center;" class="review-header">Fikirlər</h1>
    <hr class="our-hr-style my-4 mx-auto">
 
 <div class="container review-list">
 <div class="row">
     {% for feedback in feedbacks %}
    <div class="card-element col-xs-12 col-md-5 col-lg-6" id="{{feedback.id}}">
        <div class="card " style="box-shadow: 1px 2px 3px;">
            <div class="card-header" style="position: relative;background-color: #f16121;color: #fff !important;">
              <div class="feedback-title">{{feedback.topic}}</div>
              <div class="restaurant-name text-light" > {{Restaurant.query.filter_by(id=feedback.restaurant_id).first().name}}</div>
              <div class="restaurant-logo" style="position: absolute;right: 3px;top: 0%;">
                <img src="{{url_for('adminPanel.static',filename = 'admin/uploads/%s' %Restaurant.query.filter_by(id=feedback.restaurant_id).first().logo)}}" style="object-fit: cover; height: 64px;width: 64px;border-radius: 50%;" alt="">    
            </div>
            </div>
            <div class="card-body">
              <h5 class="card-title" style="font-size:2rem ;">{{User.query.filter_by(id=feedback.user_id).first().fullname}}</h5>
                {% if feedback.content|length > 50 %}
                <p class="card-text">{{feedback.content[:50]}}</p>
                
                {% else %}
                <p class="card-text" style="height: 100px; overflow: hidden; "> {{feedback.content}}</p>
                {% endif %}
    
              
              <hr>
              
              <div class="ratings d-flex justify-content-between">
                  <div class="taste-rating" style="text-align: center;"> 
                      <div class="taste-rating-header">Dad </div>
                      <div class="taste-rating-score">
                          {% for i in range(feedback.tasteRating) %}
                          ⭐
                          {% endfor %}
                    </div>
                    </div>
                  <div class="service-rating">
                    <div class="service-rating-header" style="text-align: center;">Xidmət </div>
                    <div class="service-rating-score">
                        {% for i in range(feedback.serviceRating) %}
                          ⭐
                          {% endfor %}
                    </div>
                  </div>
    
                  <div class="atmp-rating" style="text-align: center;">
                    <div class="atmp-rating-header">Atmosfer </div>
                    <div class="atmp-rating-score"> 
                        {% for i in range(feedback.atmosphereRating) %}
                          ⭐
                          {% endfor %}
                         </div>
                 </div>
              </div>
            </div>
            <div class="card-footer  d-flex justify-content-between" style="height: 40px;background-color: #f16121;color: #fff !important;">
                <div class="date">
    
                    {{((feedback.time.split(" ")[0].split("-")[2])|int)|string +" "+ month[feedback.time.split(" ")[0].split("-")[1]]+" " +feedback.time.split(" ")[0].split("-")[0]}}
                 
                </div>
                <div class="like-or-dislike " >
                {% if current_user.id %}
                    {% if Like.query.filter_by(feedback_id=feedback.id,user_id=current_user.id).first() %}
                    <a href="/feedbacks/like/{{feedback.id}}"  class="like">
                        
                    <i class="fas fa-thumbs-up mr-3"  style="color: blue;"></i>
                </a>
                    
                    {{Like.query.filter_by(feedback_id=feedback.id).count()}}
                    <a href="" class="dislike"><i class="fas fa-thumbs-down mt-2" style="color: gray;" ></i></a>
                    {{Dislike.query.filter_by(feedback_id=feedback.id).count()}}
                    {% elif Dislike.query.filter_by(feedback_id=feedback.id,user_id=current_user.id).first() %}
                    <a href=""  class="like" >
                        <i class="fas fa-thumbs-up mr-3"  style="color:gray"></i></a>
                        {{Like.query.filter_by(feedback_id=feedback.id).count()}}
                        <a href="/feedbacks/dislike/{{feedback.id}}" class="dislike"><i class="fas fa-thumbs-down mt-2" style="color: blue;" ></i></a>
                    
                        {{Dislike.query.filter_by(feedback_id=feedback.id).count()}}
                    {% else %}
                    <a href="/feedbacks/like/{{feedback.id}}"  class="like">
                    <i class="fas fa-thumbs-up mr-3"  style="color: white;"></i></a>
                    {{Like.query.filter_by(feedback_id=feedback.id).count()}}
                    <a href="/feedbacks/dislike/{{feedback.id}}" class="dislike"><i class="fas fa-thumbs-down mt-2" style="color: white;" ></i></a>
                    {{Dislike.query.filter_by(feedback_id=feedback.id).count()}}
                    {% endif %}
                {% else %}
                    <a href=""   class="like">
                        <i class="fas fa-thumbs-up mr-3"  style="color: white;"></i></a>
                        {{Like.query.filter_by(feedback_id=feedback.id).count()}}
                        <a href="" class="dislike"><i class="fas fa-thumbs-down mt-2" style="color: white;" ></i></a>
                        {{Dislike.query.filter_by(feedback_id=feedback.id).count()}}
                {% endif %}
                    
                   
                   
                </div>
                <div class="read-more d-none">
                    <a href="/feedbacks/{{feedback.slug}}" class="btn btn-primary">Davamını oxu </a>
                </div>
                
            </div>
          </div>
    </div>
   
           
     {% endfor %}
    

</div>
 
   
  </div>

  
  


</section>
  {% endblock %}
  {% block jsLink %}
  <script>
      {% if current_user.id %}
        $bool =  true
     {% else %}
        $bool = false
     {% endif %}
     
  </script>

  <script type="text/javascript" src="{{url_for('user.static',filename='userside/feedbacks/js/script.js')}}"></script>
  {% endblock %}
   











   