{% extends "userside/base.html" %}
{% block feedbacks %}
active
{% endblock %}
   {% block cssLink %}
   <link rel="stylesheet" href="{{url_for('user.static', filename='userside/feedbacks/css/style.css')}}">

   {% endblock %}


        {% block title %}
        Fikirlər
        {% endblock %} 
    
  {% block page %}
  <section class="review">
    <h1 style="text-align: center;" class="review-header">Fikirlər</h1>
    <hr class="our-hr-style my-4">
 
 <div class="container review-list">
 <div class="row">
    <div class="col-xs-12 col-sm-12 col-md-6">
        <div class="card ">
         <div class="name-and-rating" style="border-bottom: 1px solid white;" >
            <h3 class="rest-name">Restoran adı <span class="rating-section">Reytinqi</span></h3>
        </div>
        
             <div class="user">
        
         
             <div class="user-icon"> 
             <i class="fas fa-user"></i>
         </div>
         <div class="user-name">
             <span style="">Məhəmməd Sadıqzadə</span>
         </div>
         </div>
         
         <div class="bar"> <hr>
           
           
         </div>
        <div class="content-review">
            <div class="icon-quote">
                <i class="fas fa-quote-left"></i>
            </div>
             <p class="review-paragraph">Çox razı qaldım</p>
             
         </div>
         <div class="card-footer">
            <div class="date">
             <span>Fikrin yazılma tarixi</span>
         </div>
             <div class="read-more">
             <a href="/feedback_details">Davamını oxu</a>
         </div>
         
     </div>
         
         
       </div>
     </div>
    

</div>
 
   
  </div>

  
  


</section>
  {% endblock %}
   











   