{% extends "userside/base.html" %}
{% block title %}
Bələdçiniz
{% endblock %}
{% block cssLink %}
<link rel="stylesheet" href="{{url_for('user.static', filename='userside/home_page/css/style.css' % folderName)}}">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick.css" integrity="sha512-wR4oNhLBHf7smjy0K4oqzdWumd+r5/+6QO/vDda76MW5iug4PT7v86FoEkySIJft3XA0Ae6axhIvHrqwm793Nw==" crossorigin="anonymous" />
<link rel="stylesheet" href="https://unpkg.com/flickity@2/dist/flickity.min.css">

<style>
    .info {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 9999999;
  margin: 1.5rem;
}
@import url(https://fonts.googleapis.com/css?family=Montserrat:700);
*, *::before, *::after {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
	border: 0;
}

body {
	font-family: 'Comfortaa', sans-serif;
  
	
}
a {
  text-decoration: none;
  color: rgba(225, 255, 255, .8);
}




</style>


<!-- JavaScript -->
<script src="https://unpkg.com/flickity@2/dist/flickity.pkgd.min.js"></script>
{% endblock %}
{% block homePage %}
active
{% endblock %}
{% block page %}
<!-- <section class="loading-screen">
    <div class="body animate__animated animate__delay-2s ">
    <div id="container">
        {% if get_flashed_messages() %}
        {% for message in get_flashed_messages() %}
        <p class="" style="font-family  : 'Comfortaa';font-size: inherit;" id="subscriber-message" >{{ message}}, {{current_user.fullname}}! <span  class="wave">👋</span></p>
        {% endfor %}
        
        {% endif %}
    <div class="load-screen-logo animate__animated animate__delay-1s animate__flash">
        <img src="{{url_for('user.static', filename='userside/generals/img/brand-logo.png')}}"  alt="">
    </div>
  <p class="loading-text animate__animated animate__delay-2s animate__slideOutDown" aria-label="Loading">
    <span class="letter" aria-hidden="true">Y</span>
    <span class="letter" aria-hidden="true">Ü</span>
    <span class="letter" aria-hidden="true">K</span>
    <span class="letter" aria-hidden="true">L</span>
    <span class="letter" aria-hidden="true">Ə</span>
    <span class="letter" aria-hidden="true">N</span>
    <span class="letter" aria-hidden="true">İ</span>

    <span class="letter" aria-hidden="true">R</span>
    
  </p>
 
</div>
</div>
</section> -->
<div class="introes " style="box-shadow: 0px -1px 2px ;">
    <!-- ' -->
        <div class="intro " >
    
    
            <div class="intro-item ">
                <ul class="intro-item-list">
                    <li class="intro-item-list-item ">
                        <div class="logo">
                            <div class="logo-icon">
                                <img src="{{url_for('user.static', filename='userside/home_page/img/logo-icon.png')}}" alt="">
                            </div>
                            <div class="logo-text">
                                <span>Bələdçi</span>
                            </div>
                        </div>
                    </li>
                    <li class="intro-item-list-item ">
        
                        <h3>Qərarsız qalmısan?</h3>
                    </li>
                    <li class="intro-item-list-item ">
                        <p class="list-paragraph">
                            Qərarsız qaldığınız anlarda sizə yardım üçün varıq!
                        </p>
                    </li>
                    <li class="intro-item-list-item  ">
        
                        <a class="get-Idea btn btn-secondary" href="/feedbacks">
                            Fikir sahibi ol
                        </a>
                        <a class="set-Idea btn btn-secondary" href="/add_feedback">
                            Fikir bildir
                        </a>
        
                    </li>
                </ul>
            </div>
        
        
        
        
        </div>
    </div>
    
</div>




<div class="container my-5">
  
    <section class="review" id="salam">
       
            <hr  class="our-hr-style" style="margin: 5px auto;">

        
        <h2 class="review-header mt-5" style="margin-bottom:20px ;font-size: 3rem; text-align: center;color: orangered;">Ən son əlavə olunan fikirlər</h2>
       



<!-- Flickity HTML init -->
<div class="gallery js-flickity"
data-flickity-options='{ "freeScroll":true,"wrapAround":true,"autoPlay": 3500,"pauseAutoPlayOnHover": false }'>
 

  {% for feedback in feedbacks[:5] %}
  
  
  <div class="gallery-cell">
    <div class="card">
        <div class="card-header" style="position: relative;background-color: #f16121;color: #fff !important;">
          <div class="feedback-title">{{feedback.topic}}</div>
          <div class="restaurant-name text-light" > {{Restaurant.query.filter_by(id=feedback.restaurant_id).first().name}}</div>
          <div class="restaurant-logo" style="position: absolute;right: 3px;top: 0%;">
            <img src="{{url_for('adminPanel.static',filename = 'admin/uploads/%s' %Restaurant.query.filter_by(id=feedback.restaurant_id).first().logo)}}" style="object-fit: cover; height: 64px;width: 64px;border-radius: 50%;" alt="">    
        </div>
        </div>
        <div class="card-body">
          <h5 class="card-title">{{User.query.filter_by(id=feedback.user_id).first().fullname}}</h5>
            {% if feedback.content|length > 50 %}
            <p class="card-text">{{feedback.content[:50]}}</p>
         
            {% else %}
            <p class="card-text">{{feedback.content}}</p>
            {% endif %}

          
          <hr>
          
          <div class="ratings d-flex justify-content-between">
              <div class="taste-rating" style="text-align: center;"> 
                  <div class="taste-rating-header">Dad </div>
                  <div class="taste-rating-score">
                      {% for i in range(feedback.tasteRating) %}
                      ⭐
                      {% endfor %}
                </div>
                </div>
              <div class="service-rating">
                <div class="service-rating-header" style="text-align: center;">Xidmət </div>
                <div class="service-rating-score">
                    {% for i in range(feedback.serviceRating) %}
                      ⭐
                      {% endfor %}
                </div>
              </div>

              <div class="atmp-rating" style="text-align: center;">
                <div class="atmp-rating-header">Atmosfer </div>
                <div class="atmp-rating-score"> 
                    {% for i in range(feedback.atmosphereRating) %}
                      ⭐
                      {% endfor %}
                     </div>
             </div>
          </div>
        </div>
        <div class="card-footer  d-flex justify-content-between" style="height: 40px;background-color: #f16121;color: #fff !important;">
          <div class="date">

              {{((feedback.time.split(" ")[0].split("-")[2])|int)|string +" "+ month[feedback.time.split(" ")[0].split("-")[1]]+" " +feedback.time.split(" ")[0].split("-")[0]}}
           
          </div>
          <div class="like-or-dislike " >
          {% if current_user.id %}
              {% if Like.query.filter_by(feedback_id=feedback.id,user_id=current_user.id).first() %}
              <a href="/feedbacks/like/{{feedback.id}}"  class="like">
                  
              <i class="fas fa-thumbs-up mr-3"  style="color: blue;"></i>
          </a>
              
              {{Like.query.filter_by(feedback_id=feedback.id).count()}}
              <a href="" class="dislike"><i class="fas fa-thumbs-down mt-2" style="color: gray;" ></i></a>
              {{Dislike.query.filter_by(feedback_id=feedback.id).count()}}
              {% elif Dislike.query.filter_by(feedback_id=feedback.id,user_id=current_user.id).first() %}
              <a href=""  class="like" >
                  <i class="fas fa-thumbs-up mr-3"  style="color:gray"></i></a>
                  {{Like.query.filter_by(feedback_id=feedback.id).count()}}
                  <a href="/feedbacks/dislike/{{feedback.id}}" class="dislike"><i class="fas fa-thumbs-down mt-2" style="color: blue;" ></i></a>
              
                  {{Dislike.query.filter_by(feedback_id=feedback.id).count()}}
              {% else %}
              <a href="/feedbacks/like/{{feedback.id}}"  class="like">
              <i class="fas fa-thumbs-up mr-3"  style="color: white;"></i></a>
              {{Like.query.filter_by(feedback_id=feedback.id).count()}}
              <a href="/feedbacks/dislike/{{feedback.id}}" class="dislike"><i class="fas fa-thumbs-down mt-2" style="color: white;" ></i></a>
              {{Dislike.query.filter_by(feedback_id=feedback.id).count()}}
              {% endif %}
          {% else %}
              <a href=""   class="like">
                  <i class="fas fa-thumbs-up mr-3"  style="color: white;"></i></a>
                  {{Like.query.filter_by(feedback_id=feedback.id).count()}}
                  <a href="" class="dislike"><i class="fas fa-thumbs-down mt-2" style="color: white;" ></i></a>
                  {{Dislike.query.filter_by(feedback_id=feedback.id).count()}}
          {% endif %}
              
             
             
          </div>
          <div class="read-more d-none">
              <a href="/feedbacks/see_all_content/{{feedback.slug}}" class="btn btn-primary">Davamını oxu </a>
          </div>
          
      </div>
      </div>
  </div>
  {% endfor %}
  
</div>


        </section>
</div>




       <!-- Content Source: https://www.farmflavor.com/at-home/cooking/10-fun-facts-about-apples/  -->
     <div class="container">

         <hr style="margin: 5px auto;" class="our-hr-style">
         <h3 style="font-size: 3rem; color: rgb(241, 97, 33);text-align: center;">Partnyorlarlardan son kompaniyalar</h3>
<div class="news-from-partners">
    <section class="cd-slider">
        <ul>
          <li >
            <div class="content"  style="background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.8)),
            url(https://cdn.pixabay.com/photo/2015/04/23/22/00/tree-736885__340.jpg);">
              <blockquote>
                <h3>I got my red dress on tonight dancing in the dark in the pale moonlight.</h3>
                <br>8
                <span>Summertime Sadness - Lana Del Rey
                  Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quisquam sequi, voluptas placeat saepe laborum debitis id amet tempore accusantium incidunt reprehenderit facere? Sequi ipsa magnam illum fugiat dolorum molestiae dolor.
                </span>
              </blockquote>
            </div>
          </li>
          <li >
              <div class="content"  style="background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.8)),
              url(https://cdn.pixabay.com/photo/2015/04/23/22/00/tree-736885__340.jpg);">
                <blockquote>
                  <p>I got my red dress on tonight dancing in the dark in the pale moonlight.</p>
                  <span>Summertime Sadness - Lana Del Rey</span>
                 <div class="links">
                  <a href="">Profilə bax</a>
                  <a href="">Xəbəri oxu</a>
                 </div> 
                </blockquote>
              </div>
            </li>
            <li >
              <div class="content"  style="background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.8)),
              url(https://cdn.pixabay.com/photo/2015/04/23/22/00/tree-736885__340.jpg);">
                <blockquote>
                  <p>I got my red dress on tonight dancing in the dark in the pale moonlight.</p>
                  <span>Summertime Sadness - Lana Del Rey</span>
                </blockquote>
              </div>
            </li>
            <li >
              <div class="content"  style="background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.8)),
              url(https://cdn.pixabay.com/photo/2015/04/23/22/00/tree-736885__340.jpg);">
                <blockquote>
                  <p>I got my red dress on tonight dancing in the dark in the pale moonlight.</p>
                  <span>Summertime Sadness - Lana Del Rey</span>
                </blockquote>
              </div>
            </li>
         
          
        </ul>
        <nav>
          <div><a class="prev" href="#"></a></div>
          <div><a class="next" href="#"></a></div>
        </nav>
      </section>
</div>
        
     </div>
       
	
  <script src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick.js" integrity="sha512-WNZwVebQjhSxEzwbettGuQgWxbpYdoLf7mH+25A7sfQbbxKeS5SQ9QBf97zOY4nOlwtksgDA/czSTmfj4DUEiQ==" crossorigin="anonymous"></script>

{% endblock %}
{% block jsLink %}
<script>
  {% if current_user.id %}
    $bool =  true
 {% else %}
    $bool = false
 {% endif %}
 
</script>
<script>
    
  (function() {
  
  var autoUpdate = false,
      timeTrans = 4000;
  
	var cdSlider = document.querySelector('.cd-slider'),
		item = cdSlider.querySelectorAll("li"),
		nav = cdSlider.querySelector("nav");

	item[0].className = "current_slide";

	for (var i = 0, len = item.length; i < len; i++) {
		var color = item[i].getAttribute("data-color");
		item[i].style.backgroundColor=color;
	}

	// Detect IE
	// hide ripple effect on IE9
	var ua = window.navigator.userAgent;
		var msie = ua.indexOf("MSIE");
		if ( msie > 0 ) {
			var version = parseInt(ua.substring(msie+ 5, ua.indexOf(".", msie)));
			if (version === 9) { cdSlider.className = "cd-slider ie9";}
	}

	if (item.length <= 1) {
		nav.style.display = "none";
	}

	function prevSlide() {
		var currentSlide = cdSlider.querySelector("li.current_slide"),
			prevElement = currentSlide.previousElementSibling,
			prevSlide = ( prevElement !== null) ? prevElement : item[item.length-1],
			prevColor = "rgb(241, 97, 33)",
			el = document.createElement('span');

		currentSlide.className = "";
		prevSlide.className = "current_slide";

		nav.children[0].appendChild(el);

		var size = ( cdSlider.clientWidth >= cdSlider.clientHeight ) ? cdSlider.clientWidth*2 : cdSlider.clientHeight*2,
		    ripple = nav.children[0].querySelector("span");

		ripple.style.height = size + 'px';
		ripple.style.width = size + 'px';
		ripple.style.backgroundColor = prevColor;

		ripple.addEventListener("webkitTransitionEnd", function() {
			if (this.parentNode) {
				this.parentNode.removeChild(this);
			}
		});

		ripple.addEventListener("transitionend", function() {
			if (this.parentNode) {
				this.parentNode.removeChild(this);
			}
		});

	}

	function nextSlide() {
		var currentSlide = cdSlider.querySelector("li.current_slide"),
			nextElement = currentSlide.nextElementSibling,
			nextSlide = ( nextElement !== null ) ? nextElement : item[0],
			nextColor = "rgb(241, 97, 33)",
			el = document.createElement('span');

		currentSlide.className = "";
		nextSlide.className = "current_slide";

		nav.children[1].appendChild(el);

		var size = ( cdSlider.clientWidth >= cdSlider.clientHeight ) ? cdSlider.clientWidth*2 : cdSlider.clientHeight*2,
			  ripple = nav.children[1].querySelector("span");

		ripple.style.height = size + 'px';
		ripple.style.width = size + 'px';
		ripple.style.backgroundColor = nextColor;

		ripple.addEventListener("webkitTransitionEnd", function() {
			if (this.parentNode) {
				this.parentNode.removeChild(this);
			}
		});

		ripple.addEventListener("transitionend", function() {
			if (this.parentNode) {
				this.parentNode.removeChild(this);
			}
		});

	}

	updateNavColor();

	function updateNavColor () {
		var currentSlide = cdSlider.querySelector("li.current_slide");

		var nextColor = ( currentSlide.nextElementSibling !== null ) ? currentSlide.nextElementSibling.getAttribute("data-color") : item[0].getAttribute("data-color");
		var	prevColor = ( currentSlide.previousElementSibling !== null ) ? currentSlide.previousElementSibling.getAttribute("data-color") : item[item.length-1].getAttribute("data-color");

		if (item.length > 2) {
			nav.querySelector(".prev").style.backgroundColor = prevColor;
			nav.querySelector(".next").style.backgroundColor = nextColor;
		}
	}

	nav.querySelector(".next").addEventListener('click', function(event) {
		event.preventDefault();
		nextSlide();
		updateNavColor();
	});

	nav.querySelector(".prev").addEventListener("click", function(event) {
		event.preventDefault();
		prevSlide();
		updateNavColor();
	});
  
  //autoUpdate
  setInterval(function() {
    if (autoUpdate) {
      nextSlide();
      updateNavColor();
    };
	},timeTrans);

})();

</script>
{% endblock %}