{% extends "userside/base.html" %}
{% block title %}
Bələdçiniz
{% endblock %}
{% block cssLink %}
<link rel="stylesheet" href="{{url_for('user.static', filename='userside/home_page/css/style.css' % folderName)}}">

{% endblock %}
{% block homePage %}
active
{% endblock %}
{% block page %}
<section class="loading-screen">
    <div class="body animate__animated animate__delay-2s ">
    <div id="container">
    <div class="load-screen-logo animate__animated animate__delay-1s animate__flash">
        <img src="{{url_for('user.static', filename='userside/generals/img/brand-logo.png')}}"  alt="">
    </div>
  <p class="loading-text animate__animated animate__delay-2s animate__slideOutDown" aria-label="Loading">
    <span class="letter" aria-hidden="true">Y</span>
    <span class="letter" aria-hidden="true">Ü</span>
    <span class="letter" aria-hidden="true">K</span>
    <span class="letter" aria-hidden="true">L</span>
    <span class="letter" aria-hidden="true">Ə</span>
    <span class="letter" aria-hidden="true">N</span>
    <span class="letter" aria-hidden="true">İ</span>

    <span class="letter" aria-hidden="true">R</span>
    
  </p>
</div>
</div>
</section>

<div class="intro">


    <div class="intro-item">
        <ul class="intro-item-list">
            <li class="intro-item-list-item ">
                <div class="logo">
                    <div class="logo-icon">
                        <img src="{{url_for('user.static', filename='userside/home_page/img/logo-icon.png')}}" alt="">
                    </div>
                    <div class="logo-text">
                        <span>Bələdçi</span>
                    </div>
                </div>
            </li>
            <li class="intro-item-list-item ">

                <h3>Qərarsız qalmısan?</h3>
            </li>
            <li class="intro-item-list-item ">
                <p class="list-paragraph">
                    Qərarsız qaldığınız anlarda sizə yardım üçün varıq!
                </p>
            </li>
            <li class="intro-item-list-item  ">

                <a class="get-Idea btn btn-secondary" href="/feedbacks">
                    Fikir sahibi ol
                </a>
                <a class="set-Idea btn btn-secondary" href="/add_feedback">
                    Fikir bildir
                </a>

            </li>
        </ul>
    </div>




</div>




<section class="review" id="salam">
<h2 class="review-header">Ən son əlavə olunan fikirlər</h2>
<div class="container">
<div class="row">
<div class="card">
  
<h3 class="title">Restoran adı</h3>

<div class="user">
    <div class="user-icon"> 
    <i class="fas fa-user"></i>
</div>
<div class="user-name">
    <span >Məhəmməd Sadıqzadə</span>
</div>
</div>

<div class="bar"> <hr>
  
  
</div>
<div class="content-review">
   <div class="icon-quote">
       <i class="fas fa-quote-left"></i>
   </div>
    <p class="review-paragraph">Çox razı qaldım</p>
    
</div>
<div class="card-footer">
   <div class="date">
    <span>Fikrin yazılma tarixi</span>
</div>
    <div class="read-more">
    <a href="#">Davamını oxu</a>
</div>

</div>


</div>


<div class="card">
  
<h3 class="title">Card 1</h3>

<div class="user">
    <div class="user-icon"> 
    <i class="fas fa-user"></i>
</div>
<div class="user-name">
    <span >Məhəmməd Sadıqzadə</span>
</div>
</div>

<div class="bar"> <hr>
  
  
</div>
<div class="content-review">
   <div class="icon-quote">
       <i class="fas fa-quote-left"></i>
   </div>
    <p class="review-paragraph">Çox razı qaldım</p>
    
</div>
<div class="card-footer">
   <div class="date">
    <span>Fikrin yazılma tarixi</span>
</div>
    <div class="read-more">
    <a href="#">Davamını oxu</a>
</div>

</div>


</div>

<div class="card">
  
<h3 class="title">Card 1</h3>

<div class="user">
    <div class="user-icon"> 
    <i class="fas fa-user"></i>
</div>
<div class="user-name">
    <span >Məhəmməd Sadıqzadə</span>
</div>
</div>

<div class="bar"> <hr>
  
  
</div>
<div class="content-review">
   <div class="icon-quote">
       <i class="fas fa-quote-left"></i>
   </div>
    <p class="review-paragraph">Çox razı qaldım</p>
    
</div>
<div class="card-footer">
   <div class="date">
    <span>Fikrin yazılma tarixi</span>
</div>
    <div class="read-more">
    <a href="#">Davamını oxu</a>
</div>

</div>


</div>


</div>



</div>
</section>

{% endblock %}
{% block jsLink %}
{% if get_flashed_messages() %}
{% for message in get_flashed_messages() %}
<p class="alert alert-success d-none" id="subscriber-message" >{{ message}} {{current_user.fullname}}</p>
{% endfor %}
<script>
alert($('#subscriber-message').html())

</script>
{% endif %}

{% endblock %}