{% extends "userside/base.html" %}
{% block restaurants %}
active
{% endblock %}
{% block cssLink %}
<link rel="stylesheet" href="{{url_for('user.static', filename='userside/restaurants/css/style.css')}}">

{% endblock %} 



        {% block title %}
        Restoranlar
        {% endblock %} 

    
    {% block page %}
    <section class="restaurants">
        <div class="container">
          <h1 style="text-align: center;">Restoranlar</h1>
          <div class="filtering d-flex justify-content-center ">
            <div class="form-check mr-3">
              <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1">
             
                Əlifba sırasına görə
            </div>
            <div class="form-check">
              <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault2" checked>
             
               Reytinqə görə
           
            </div>
          </div>
         
          <hr class="our-hr-style">
      
          <main class="rest-list row">
           
            <div class="col-xs-12 col-sm-6 col-md-3">
              <div class="image-flip" >
                  <div class="mainflip flip-0">
                      <div class="frontside">
                          <div class="card">
                              <div class="card-body text-center">
                                  <p><img class=" img-fluid" src="https://sunlimetech.com/portfolio/boot4menu/assets/imgs/team/img_01.png" alt="card image"></p>
                                  <h4 class="card-title">Restoran adı</h4>
                                  <span class="card-rating">Reytinq <i class="fas fa-star"></i></span>
                                  <span class="count-feedbacks">8<i class="fas fa-comments"></i></span>
  
                              </div>
                              <button class="btn-see-profile btn " >Profilə bax</button>
                            </div>
                      </div>
                    
                  </div>
              </div>
          </div>
          <div class="col-xs-12 col-sm-6 col-md-3">
            <div class="image-flip" >
                <div class="mainflip flip-0">
                    <div class="frontside">
                        <div class="card">
                            <div class="card-body text-center">
                                <p><img class=" img-fluid" src="https://sunlimetech.com/portfolio/boot4menu/assets/imgs/team/img_01.png" alt="card image"></p>
                                <h4 class="card-title">Restoran adı</h4>
                                <span class="card-rating">Reytinq <i class="fas fa-star"></i></span>
                                <span class="count-feedbacks">8<i class="fas fa-comments"></i></span>
  
                            </div>
                            <button class="btn-see-profile btn " >Profilə bax</button>
                          </div>
                    </div>
                  
                </div>
            </div>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-3">
          <div class="image-flip" >
              <div class="mainflip flip-0">
                  <div class="frontside">
                      <div class="card">
                          <div class="card-body text-center">
                              <p><img class=" img-fluid" src="https://sunlimetech.com/portfolio/boot4menu/assets/imgs/team/img_01.png" alt="card image"></p>
                              <h4 class="card-title">Restoran adı</h4>
                              <span class="card-rating">Reytinq <i class="fas fa-star"></i></span>
                              <span class="count-feedbacks">8<i class="fas fa-comments"></i></span>
  
                          </div>
                          <button class="btn-see-profile btn " >Profilə bax</button>
                        </div>
                  </div>
                
              </div>
          </div>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-3">
        <div class="image-flip" >
            <div class="mainflip flip-0">
                <div class="frontside">
                    <div class="card">
                        <div class="card-body text-center">
                            <p><img class=" img-fluid" src="https://sunlimetech.com/portfolio/boot4menu/assets/imgs/team/img_01.png" alt="card image"></p>
                            <h4 class="card-title">Restoran adı</h4>
                            <span class="card-rating">Reytinq <i class="fas fa-star"></i></span>
                            <span class="count-feedbacks">8<i class="fas fa-comments"></i></span>
  
                        </div>
                        <button class="btn-see-profile btn " >Profilə bax</button>
                      </div>
                </div>
              
            </div>
        </div>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-3">
      <div class="image-flip" >
          <div class="mainflip flip-0">
              <div class="frontside">
                  <div class="card">
                      <div class="card-body text-center">
                          <p><img class=" img-fluid" src="https://sunlimetech.com/portfolio/boot4menu/assets/imgs/team/img_01.png" alt="card image"></p>
                          <h4 class="card-title">Restoran adı</h4>
                          <span class="card-rating">Reytinq <i class="fas fa-star"></i></span>
                          <span class="count-feedbacks">8<i class="fas fa-comments"></i></span>
  
                      </div>
                      <button class="btn-see-profile btn " >Profilə bax</button>
                    </div>
              </div>
            
          </div>
      </div>
  </div>
  <div class="col-xs-12 col-sm-6 col-md-3">
    <div class="image-flip" >
        <div class="mainflip flip-0">
            <div class="frontside">
                <div class="card">
                    <div class="card-body text-center">
                        <p><img class=" img-fluid" src="https://sunlimetech.com/portfolio/boot4menu/assets/imgs/team/img_01.png" alt="card image"></p>
                        <h4 class="card-title">Restoran adı</h4>
                        <span class="card-rating">Reytinq <i class="fas fa-star"></i></span>
                        <span class="count-feedbacks">8<i class="fas fa-comments"></i></span>
  
                    </div>
                    <button class="btn-see-profile btn " >Profilə bax</button>
                  </div>
            </div>
          
        </div>
    </div>
  </div>
  <div class="col-xs-12 col-sm-6 col-md-3">
  <div class="image-flip" >
      <div class="mainflip flip-0">
          <div class="frontside">
              <div class="card">
                  <div class="card-body text-center">
                      <p><img class=" img-fluid" src="https://sunlimetech.com/portfolio/boot4menu/assets/imgs/team/img_01.png" alt="card image"></p>
                      <h4 class="card-title">Restoran adı</h4>
                      <span class="card-rating">Reytinq <i class="fas fa-star"></i></span>
                      <span class="count-feedbacks">8<i class="fas fa-comments"></i></span>
  
                  </div>
                  <button class="btn-see-profile btn " >Profilə bax</button>
                </div>
          </div>
        
      </div>
  </div>
  </div>
  <div class="col-xs-12 col-sm-6 col-md-3">
  <div class="image-flip" >
    <div class="mainflip flip-0">
        <div class="frontside">
            <div class="card">
                <div class="card-body text-center">
                    <p><img class=" img-fluid" src="https://sunlimetech.com/portfolio/boot4menu/assets/imgs/team/img_01.png" alt="card image"></p>
                    <h4 class="card-title">Restoran adı</h4>
                    <span class="card-rating">Reytinq <i class="fas fa-star"></i></span>
                    <span class="count-feedbacks">8<i class="fas fa-comments"></i></span>
  
                </div>
                <button class="btn-see-profile btn " >Profilə bax</button>
              </div>
        </div>
      
    </div>
  </div>
  </div>
              
          
            
          </main>
        </div>
       
         
      </section>
    {% endblock %}
   